{% block body %}
<div id="pagehome" class="index--mob" data-agent="{{ agent }}">
    <div class="bk-separate_mb"></div>
    <div class="bk-separate_mb"></div>

    <div class="templ_bleu">
         <div class="arg-content_mob">
             <div class="arg-cont_mob-bk">
                 <h2 class="h2-tit2_mob rub1">Rencontres<br>numeriques</h2>
                 <div class="cont-arg_mob">
                    Un programme pour les jeunes et les adultes.<br>Pour en savoir plus sur le monde numérique.
                 </div>
                 <nav class="relational_mb">
                     <a href="{{ path('rdv_samedi') }}" class="nav1_mb btn" title="rendez-vous">Les rendez-vous du samedi</a>
                 </nav>
            </div>
             <div class="bk-pict_mob">
                 <section class="ear">
                     <div class="blk-img_vrt4_mob" style="background-image: url({{ asset('imgdoc/potins/social.png') }}">
                         <div class="_in-ear">
                             {#<h1 class="tit-sit">Végétal</h1>#}
                         </div>
                     </div>
                 </section>
             </div>
         </div>
     </div>

     <div class="bk-separate_mb"></div>

    <div class="all_blocks_mb">

        <a class="vertical_block_mb" href="{{ path('ressources') }}">
            <div class="content_vertical_block_mb" >Ressources</div>
        </a>

        <div class="horizontal_block_mb">
            <div class="two_block_mb">
                <a class="block_blue_mb" href="{{ path('decouverte') }}">
                    <div class="block_inblue_left_mb">
                        <div class="ctn_in_blue_mb">
                            <h2>Découvrir</h2>
                            <h3>Découvrez ou redécouvrez les technologies d'aujourd'hui.</h3>
                            <div class="ctn_strong">Réalité virtuelle, impression 3D, robotique</div>
                        </div>
                    </div>
                    {#
                    <div class="block_inblue_right">
                        <div class="pict_in_block" style="background-image: url({{ asset('imgdoc/potins/expe_1.JPG') }}"></div>
                    </div>
                    #}
                </a>

                <div class="block_green_mb">
                    <div class="block_ingreen_left_mb">
                        <div class="ctn_in_blue_mb">
                            <h2>Créer</h2>
                            <div class="ctn_strong">
                                Montage vidéo, musique assistée par ordinateur...
                            </div>
                            <h3>Faites le plein de connaissances artistiques pour vos loisirs</h3>

                        </div>
                    </div>
                    {#
                    <div class="block_ingreen_right">
                        <div class="pict_in_block" style="background-image: url({{ asset('imgdoc/potins/decouvsmall.JPG') }}"></div>
                    </div>
                    #}
                </div>
            </div>
            <div class="one_block_mb">
                <div class="block_pink_mb">
                    <div class="block_inpink_letf_mb">
                        <div class="ctn_in_blue_mb">
                            <h2>Parentalité numérique</h2>
                            <h3>Parlons-en ensemble et avec vos enfants</h3>
                            <div class="ctn_strong">Le numérique ça se discute ! Pour vous donner les moyens d'accompagner vos enfants dans leur vie numérique, dialoguer, échanger autour des pratiques, du temps d'écran, des risques et des avantages, comment vivre le numérique en famille...</div>
                        </div>
                    </div>
                    {#
                    <div class="block_inpink_right">
                        <div class="pict_in_block" style="background-image: url({{ asset('imgdoc/potins/mao_2.JPG') }}"></div>
                    </div>
                    #}
                </div>
            </div>
        </div>
    </div>

    <div class="bk-separate_mb"></div>

    <div class="middle__block-center">
        <div class="ntro4_cor">
            <div class="inter-title3">
                <h2>Quand et où ?</h2>
            </div>
        </div>
    </div>

    <div class="block_locate_grey_mb">
        {%  for media in medias %}
            <a  class="in_locate_grey_mb" href="{{ path('media_page',{'slug':media.slug}) }}">
                <div class="tit-media">{{media.nameboard}}</div>
                <div class="iner_where_mb">
                    {% if  media.template.logo is not null %}
                        <div class="pict_in_where" style="background-image: url( {{ asset(media.template.logo.getWebPath) }} )"></div>
                    {% endif %}
                </div>
            </a>
        {%  endfor %}
    </div>

    <div class="bk-separate_mb"></div>
    <div class="bk-separate_mb"></div>
    <div class="bk-separate_mb"></div>

</div>
{% endblock %}

{% block footer %}
     {{ include ('pwa/footer/potins_footer.html.twig') }}
{% endblock footer %}

{% use "js/js_potins.html.twig" %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}

