{% block body %}

<div id="pagehome" class="homepage-wrapper--desk" data-agent="{{ agent }}">

    <div class="templ_bleu">
        <div class="pwa-arg-content">
            <div class="pwa-arg-cont-bk">
                    <h2 class="pwa-h2-tit2 rub1">Ouvrez une conversation avec votre conseiller numérique</h2>
                    <div class="cont-arg">
                       Des questions, une idée, vous recherchez des partenaires, des informations techniques, échangez sur un sujet en particulier, bloqué pour faire une démarche administratives....
                    </div>
                    <nav class="relational_bt">
                        <div class="lite-cmd">
                            {% if  board.contactation is not null %}
                                <div class=" button-wp" >
                                    <button class="bulletoggle pop_button" data-affitgl="tgl_9">
                                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i> nouvelle conversation
                                    </button>
                                </div>
                            {% endif %}
                        </div>
                    </nav>
                </div>
                <div class="pwa-bk-pict">
                    <section class="ear">
                        <div class="pwa-blk-img-vrt4" style="background-image: url({{ asset('imgdoc/potins/social.png') }}">
                            <div class="_in-ear">
                                {#<h1 class="tit-sit">Végétal</h1>#}
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>

        <div class="templ_bleu">

            <div class="cnfs_echanges">
                {{ include('pwa/ptn_elements/ele_echanges/cnfs_echange.html.twig') }}
            </div>
        </div>
</div>


{%  endblock body %}
{% block footer %}
    {{ include ('pwa/footer/potins_footer.html.twig') }}
{% endblock footer %}
{% use "js/js_potins.html.twig" %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}

