

<div class="wp-resa_card color-event-1">
    <div class="inner-resa">
        {#  <h3 class="goaff_event-fix min30"></h3>  #}

        <div class="w_titlevent">
            <h2 title="evenement de {{ event.titre }}">{{ event.titre|lower|capitalize }}</h2>
            {% if event.description is not same as (" ") %}
                <h3>{{ event.description|raw|lower|capitalize }}</h3> {# {{post.subject|u.truncate(80, '...')|lower|capitalize}} #}
            {% endif %}
        </div>
{#
        <div class="info_event">
            <div class="ptn-inf1">
                <div class="ptn-info0">
                    <svg xmlns="http://www.w3.org/2000/svg" focusable="false" role="img" fill="currentColor" width="700pt" height="700pt" viewBox="0 0 700 700"  aria-hidden="true" class="info-svg">
                        <g>
                            <path d="m265.44 63.281c-10.641 0-19.602 8.9609-19.602 19.602v8.3984h-34.16c-41.441 0-75.602 34.16-75.602 75.602v267.68c0 41.441 34.16 75.602 75.602 75.602h276.08c41.441 0 75.602-34.16 75.602-75.602v-267.68c0-41.441-34.16-75.602-75.602-75.602h-34.16v-8.3984c0-10.641-8.9609-19.602-19.602-19.602s-19.602 8.9609-19.602 19.602v8.3984l-129.36 0.003906v-8.3984c0-10.645-8.3984-19.602-19.598-19.602zm222.88 408.24h-276.64c-20.16 0-36.398-16.238-36.398-36.398v-192.08h348.88v191.52c0.55859 20.723-15.68 36.961-35.84 36.961zm-73.359-341.04v8.3984c0 10.641 8.9609 19.602 19.602 19.602s19.602-8.9609 19.602-19.602v-8.3984h34.16c20.16 0 36.398 16.238 36.398 36.398v36.961h-349.44v-36.961c0-20.16 16.238-36.398 36.398-36.398h34.16v8.3984c0 10.641 8.9609 19.602 19.602 19.602s19.602-8.9609 19.602-19.602v-8.3984z"/>
                            <path d="m311.92 285.6c-0.55859-1.1211-1.1211-2.2383-1.6797-3.3594-0.55859-1.1211-1.6797-2.2383-2.2383-2.8008-1.1211-1.1211-1.6797-1.6797-2.8008-2.2383s-2.2383-1.1211-3.3594-1.6797c-1.1211-0.55859-2.2383-0.55859-3.9219-1.1211-2.8008-0.55859-5.0391-0.55859-7.8398 0-1.1211 0.55859-2.2383 0.55859-3.9219 1.1211-1.6797 0.55859-2.2383 1.1211-3.3594 1.6797-1.1211 0.55859-2.2383 1.6797-2.8008 2.2383-1.1211 1.1211-1.6797 1.6797-2.2383 2.8008-0.55859 1.1211-1.1211 2.2383-1.6797 3.3594-0.55859 1.1211-1.1211 2.2383-1.1211 3.9219 0 1.1211-0.55859 2.8008-0.55859 3.9219 0 5.0391 2.2383 10.078 5.6016 14 1.1211 1.1211 1.6797 1.6797 2.8008 2.2383 1.1211 0.55859 2.2383 1.1211 3.3594 1.6797 1.1211 0.55859 2.2383 1.1211 3.9219 1.1211 1.1211 0 2.8008 0.55859 3.9219 0.55859 1.1211 0 2.8008 0 3.9219-0.55859 1.1211 0 2.8008-0.55859 3.9219-1.1211 1.1211-0.55859 2.2383-1.1211 3.3594-1.6797 1.1211-0.55859 2.2383-1.6797 2.8008-2.2383 3.9219-3.3594 5.6016-8.9609 5.6016-14 0-1.1211 0-2.8008-0.55859-3.9219-0.015626-1.6836-0.57422-2.8047-1.1328-3.9219z"/>
                            <path d="m336 279.44c-3.3594 3.9219-5.6016 8.9609-5.6016 14 0 5.0391 2.2383 10.078 5.6016 14 3.9219 3.9219 8.9609 5.6016 14 5.6016 1.1211 0 2.8008 0 3.9219-0.55859 1.1211 0 2.8008-0.55859 3.9219-1.1211 1.1211-0.55859 2.2383-1.1211 3.3594-1.6797s2.2383-1.6797 2.8008-2.2383c1.1211-1.1211 1.6797-1.6797 2.2383-2.8008 0.55859-1.1211 1.1211-2.2383 1.6797-3.3594s1.1211-2.2383 1.1211-3.9219c0-1.1211 0.55859-2.8008 0.55859-3.9219 0-5.0391-2.2383-10.078-5.6016-14-7.2812-7.8398-20.719-7.8398-28 0z"/>
                            <path d="m423.92 285.6c-0.55859-1.1211-1.1211-2.2383-1.6797-3.3594-0.55859-1.1211-1.6797-2.2383-2.2383-2.8008-4.4805-4.4805-11.199-6.7188-17.922-5.6016-1.1211 0.55859-2.2383 0.55859-3.9219 1.1211-1.6797 0.55859-2.2383 1.1211-3.3594 1.6797-1.1211 0.55859-2.2383 1.6797-2.8008 2.2383-1.1211 1.1211-1.6797 1.6797-2.2383 2.8008-0.55859 1.1211-1.1211 2.2383-1.6797 3.3594-0.55859 1.1211-1.1211 2.2383-1.1211 3.9219 0 1.1211-0.55859 2.8008-0.55859 3.9219 0 5.0391 2.2383 10.078 5.6016 14 1.1211 1.1211 1.6797 1.6797 2.8008 2.2383 1.1211 0.55859 2.2383 1.1211 3.3594 1.6797 1.1211 0.55859 2.2383 1.1211 3.9219 1.1211 1.1211 0 2.8008 0.55859 3.9219 0.55859 5.0391 0 10.078-2.2383 14-5.6016 1.1211-1.1211 1.6797-1.6797 2.2383-2.8008s1.1211-2.2383 1.6797-3.3594c0.55859-1.1211 1.1211-2.2383 1.1211-3.9219 0-1.1211 0.55859-2.8008 0.55859-3.9219s0-2.8008-0.55859-3.9219c-0.007813-1.1133-0.56641-2.2344-1.125-3.3516z"/>
                            <path d="m472.64 276.64c-1.1211-0.55859-2.2383-1.1211-3.3594-1.6797-1.1211-0.55859-2.2383-0.55859-3.9219-1.1211-2.8008-0.55859-5.0391-0.55859-7.8398 0-1.1211 0.55859-2.2383 0.55859-3.9219 1.1211-1.6797 0.55859-2.2383 1.1211-3.3594 1.6797-1.1211 0.55859-2.2383 1.6797-2.8008 2.2383-3.3594 3.9219-5.6016 8.9609-5.6016 14 0 1.1211 0 2.8008 0.55859 3.9219 0 1.1211 0.55859 2.2383 1.1211 3.9219 0.55859 1.6797 1.1211 2.2383 1.6797 3.3594 0.55859 1.1211 1.6797 2.2383 2.2383 2.8008 3.3594 3.9219 8.3984 5.6016 14 5.6016 5.6016 0 10.078-2.2383 14-5.6016 3.9219-3.3594 5.6016-8.9609 5.6016-14 0-5.0391-2.2383-10.078-5.6016-14-0.55469-0.5625-1.6719-1.6836-2.793-2.2422z"/>
                            <path d="m248.64 332.64c-1.1211-0.55859-2.2383-1.1211-3.3594-1.6797-1.1211-0.55859-2.2383-0.55859-3.9219-1.1211-2.8008-0.55859-5.0391-0.55859-7.8398 0-1.1211 0.55859-2.2383 0.55859-3.9219 1.1211-1.6797 0.55859-2.2383 1.1211-3.3594 1.6797-1.1211 0.55859-2.2383 1.6797-2.8008 2.2383-3.3594 3.9219-5.6016 8.9609-5.6016 14 0 5.0391 2.2383 10.078 5.6016 14 3.9219 3.9219 8.9609 5.6016 14 5.6016s10.078-2.2383 14-5.6016c3.9219-3.3594 5.6016-8.9609 5.6016-14 0-5.0391-2.2383-10.078-5.6016-14-0.55859-0.55859-1.6758-1.6797-2.7969-2.2383z"/>
                            <path d="m311.92 341.6c-0.55859-1.1211-1.1211-2.2383-1.6797-3.3594-0.55859-1.1211-1.6797-2.2383-2.2383-2.8008-1.1211-1.1211-1.6797-1.6797-2.8008-2.2383s-2.2383-1.1211-3.3594-1.6797c-1.1211-0.55859-2.2383-0.55859-3.9219-1.1211-2.8008-0.55859-5.0391-0.55859-7.8398 0-1.1211 0.55859-2.2383 0.55859-3.9219 1.1211-1.6797 0.55859-2.2383 1.1211-3.3594 1.6797-1.1211 0.55859-2.2383 1.6797-2.8008 2.2383-1.1211 1.1211-1.6797 1.6797-2.2383 2.8008-0.55859 1.1211-1.1211 2.2383-1.6797 3.3594-0.55859 1.1211-1.1211 2.2383-1.1211 3.9219 0 1.1211-0.55859 2.8008-0.55859 3.9219 0 5.0391 2.2383 10.078 5.6016 14 1.1211 1.1211 1.6797 1.6797 2.8008 2.2383 1.1211 0.55859 2.2383 1.1211 3.3594 1.6797 1.1211 0.55859 2.2383 1.1211 3.9219 1.1211 1.1211 0 2.8008 0.55859 3.9219 0.55859 1.1211 0 2.8008 0 3.9219-0.55859 1.1211 0 2.8008-0.55859 3.9219-1.1211 1.1211-0.55859 2.2383-1.1211 3.3594-1.6797 1.1211-0.55859 2.2383-1.6797 2.8008-2.2383 3.9219-3.3594 5.6016-8.9609 5.6016-14 0-1.1211 0-2.8008-0.55859-3.9219-0.015626-1.6836-0.57422-2.8047-1.1328-3.9219z"/>
                            <path d="m346.08 329.84c-1.1211 0.55859-2.2383 0.55859-3.9219 1.1211-1.6797 0.55859-2.2383 1.1211-3.3594 1.6797s-2.2383 1.6797-2.8008 2.2383c-3.3594 3.9219-5.6016 8.9609-5.6016 14 0 5.0391 2.2383 10.078 5.6016 14 1.1211 1.1211 1.6797 1.6797 2.8008 2.2383 1.1211 0.55859 2.2383 1.1211 3.3594 1.6797s2.2383 1.1211 3.9219 1.1211c1.1211 0 2.8008 0.55859 3.9219 0.55859 5.0391 0 10.078-2.2383 14-5.6016 3.9219-3.3594 5.6016-8.9609 5.6016-14s-2.2383-10.078-5.6016-14c-4.4805-4.4766-11.199-6.1562-17.922-5.0352z"/>
                            <path d="m423.92 341.6c-0.55859-1.1211-1.1211-2.2383-1.6797-3.3594-0.55859-1.1211-1.6797-2.2383-2.2383-2.8008-4.4805-4.4805-11.199-6.7188-17.922-5.6016-1.1211 0.55859-2.2383 0.55859-3.9219 1.1211-1.6797 0.55859-2.2383 1.1211-3.3594 1.6797-1.1211 0.55859-2.2383 1.6797-2.8008 2.2383-1.1211 1.1211-1.6797 1.6797-2.2383 2.8008-0.55859 1.1211-1.1211 2.2383-1.6797 3.3594-0.55859 1.1211-1.1211 2.2383-1.1211 3.9219 0 1.1211-0.55859 2.8008-0.55859 3.9219 0 5.0391 2.2383 10.078 5.6016 14 1.1211 1.1211 1.6797 1.6797 2.8008 2.2383 1.1211 0.55859 2.2383 1.1211 3.3594 1.6797 1.1211 0.55859 2.2383 1.1211 3.9219 1.1211 1.1211 0 2.8008 0.55859 3.9219 0.55859 5.0391 0 10.078-2.2383 14-5.6016 1.1211-1.1211 1.6797-1.6797 2.2383-2.8008s1.1211-2.2383 1.6797-3.3594c0.55859-1.1211 1.1211-2.2383 1.1211-3.9219 0-1.1211 0.55859-2.8008 0.55859-3.9219s0-2.8008-0.55859-3.9219c-0.007813-1.1133-0.56641-2.2344-1.125-3.3516z"/>
                            <path d="m472.64 332.64c-1.1211-0.55859-2.2383-1.1211-3.3594-1.6797-1.1211-0.55859-2.2383-0.55859-3.9219-1.1211-2.8008-0.55859-5.0391-0.55859-7.8398 0-1.1211 0.55859-2.2383 0.55859-3.9219 1.1211-1.6797 0.55859-2.2383 1.1211-3.3594 1.6797-1.1211 0.55859-2.2383 1.6797-2.8008 2.2383-3.3594 3.9219-5.6016 8.9609-5.6016 14 0 1.1211 0 2.8008 0.55859 3.9219 0 1.1211 0.55859 2.2383 1.1211 3.9219 0.55859 1.6797 1.1211 2.2383 1.6797 3.3594 0.55859 1.1211 1.6797 2.2383 2.2383 2.8008 3.3594 3.9219 8.3984 5.6016 14 5.6016 5.6016 0 10.078-2.2383 14-5.6016 1.1211-1.1211 1.6797-1.6797 2.2383-2.8008 0.55859-1.1211 1.1211-2.2383 1.6797-3.3594 0.55859-1.1211 1.1211-2.2383 1.1211-3.9219 0-1.1211 0.55859-2.8008 0.55859-3.9219 0-5.0391-2.2383-10.078-5.6016-14-0.55078-0.55859-1.668-1.6797-2.7891-2.2383z"/>
                            <path d="m248.64 388.64c-1.1211-0.55859-2.2383-1.1211-3.3594-1.6797-1.1211-0.55859-2.2383-0.55859-3.9219-1.1211-6.1602-1.1211-12.879 1.1211-17.922 5.6016-3.3594 3.9219-5.6016 8.9609-5.6016 14 0 1.1211 0 2.8008 0.55859 3.9219 0 1.1211 0.55859 2.2383 1.1211 3.9219 0.55859 1.1211 1.1211 2.2383 1.6797 3.3594 0.55859 1.1211 1.6797 2.2383 2.2383 2.8008 3.9219 3.9219 8.9609 5.6016 14 5.6016 5.0391 0 10.078-2.2383 14-5.6016 1.1211-1.1211 1.6797-1.6797 2.2383-2.8008 0.55859-1.1211 1.1211-2.2383 1.6797-3.3594 0.55859-1.1211 1.1211-2.2383 1.1211-3.9219 0-1.1211 0.55859-2.8008 0.55859-3.9219 0-5.0391-2.2383-10.078-5.6016-14-0.55078-1.1211-1.668-2.2422-2.7891-2.8008z"/>
                            <path d="m304.64 388.64c-1.1211-0.55859-2.2383-1.1211-3.3594-1.6797-1.1211-0.55859-2.2383-0.55859-3.9219-1.1211-2.8008-0.55859-5.0391-0.55859-7.8398 0-1.1211 0.55859-2.2383 0.55859-3.9219 1.1211-1.6797 0.55859-2.2383 1.1211-3.3594 1.6797-1.1211 0.55859-2.2383 1.6797-2.8008 2.2383-3.3594 3.9219-5.6016 8.9609-5.6016 14 0 1.1211 0 2.8008 0.55859 3.9219 0 1.1211 0.55859 2.2383 1.1211 3.9219 0.55859 1.1211 1.1211 2.2383 1.6797 3.3594 0.55859 1.1211 1.6797 2.2383 2.2383 2.8008 1.1211 1.1211 1.6797 1.6797 2.8008 2.2383s2.2383 1.1211 3.3594 1.6797c1.1211 0.55859 2.2383 1.1211 3.9219 1.1211 1.1211 0 2.8008 0.55859 3.9219 0.55859s2.8008 0 3.9219-0.55859c1.1211 0 2.8008-0.55859 3.9219-1.1211 1.1211-0.55859 2.2383-1.1211 3.3594-1.6797s2.2383-1.6797 2.8008-2.2383c1.1211-1.1211 1.6797-1.6797 2.2383-2.8008 0.55859-1.1211 1.1211-2.2383 1.6797-3.3594s1.1211-2.2383 1.1211-3.9219c0-1.1211 0.55859-2.8008 0.55859-3.9219 0-5.0391-2.2383-10.078-5.6016-14-0.55859-0.55859-1.6758-1.6797-2.7969-2.2383z"/>
                            <path d="m336 391.44c-3.3594 3.9219-5.6016 8.9609-5.6016 14 0 5.0391 2.2383 10.078 5.6016 14 3.9219 3.9219 8.9609 5.6016 14 5.6016 1.1211 0 2.8008 0 3.9219-0.55859 1.1211 0 2.8008-0.55859 3.9219-1.1211 1.1211-0.55859 2.2383-1.1211 3.3594-1.6797s2.2383-1.6797 2.8008-2.2383c3.9219-3.3594 5.6016-8.9609 5.6016-14 0-5.0391-2.2383-10.078-5.6016-14-7.2852-7.8438-20.723-7.8438-28.004-0.003906z"/>
                            <path d="m423.92 397.6c-0.55859-1.1211-1.1211-2.2383-1.6797-3.3594-0.55859-1.1211-1.6797-2.2383-2.2383-2.8008-4.4805-4.4805-11.199-6.7188-17.922-5.6016-1.1211 0.55859-2.2383 0.55859-3.9219 1.1211-1.6797 0.55859-2.2383 1.1211-3.3594 1.6797-1.1211 0.55859-2.2383 1.6797-2.8008 2.2383-1.1211 1.1211-1.6797 1.6797-2.2383 2.8008-0.55859 1.1211-1.1211 2.2383-1.6797 3.3594-0.55859 1.1211-1.1211 2.2383-1.1211 3.9219 0 1.1211-0.55859 2.8008-0.55859 3.9219 0 1.1211 0 2.8008 0.55859 3.9219 0 1.1211 0.55859 2.2383 1.1211 3.9219 0.55859 1.1211 1.1211 2.2383 1.6797 3.3594 0.55859 1.1211 1.6797 2.2383 2.2383 2.8008 1.1211 1.1211 1.6797 1.6797 2.8008 2.2383 1.1211 0.55859 2.2383 1.1211 3.3594 1.6797 1.1211 0.55859 2.2383 1.1211 3.9219 1.1211 1.1211 0 2.8008 0.55859 3.9219 0.55859s2.8008 0 3.9219-0.55859c1.1211 0 2.8008-0.55859 3.9219-1.1211 1.1211-0.55859 2.2383-1.1211 3.3594-1.6797 1.1211-0.55859 2.2383-1.6797 2.8008-2.2383 1.1211-1.1211 1.6797-1.6797 2.2383-2.8008 0.55859-1.1211 1.1211-2.2383 1.6797-3.3594 0.55859-1.1211 1.1211-2.2383 1.1211-3.9219 0-1.1211 0.55859-2.8008 0.55859-3.9219 0-1.1211 0-2.8008-0.55859-3.9219-0.007813-1.1211-0.56641-2.2422-1.125-3.3594z"/>
                        </g>
                    </svg>
                    <div class="ptn-inf4">
                        <span class="ptn-inf2">à partir du {{ event.appointment.starttime|date("d-m-Y") }}</span>
                    </div>
                </div>
            </div>
            <div class="ptn-inf1">
                <div class="ptn-info0">
                    <svg xmlns="http://www.w3.org/2000/svg" focusable="false" role="img" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true" class="info-svg">
                        <path d="M12 12c2.486 0 4.5-2.014 4.5-4.5S14.486 3 12 3a4.499 4.499 0 00-4.5 4.5C7.5 9.986 9.514 12 12 12zm0 2.25c-3.004 0-9 1.508-9 4.5v1.75a.5.5 0 00.5.5h17a.5.5 0 00.5-.5v-1.75c0-2.992-5.996-4.5-9-4.5z"></path>
                    </svg>
                    <div class="ptn-inf4">
                        <span class="ptn-inf2">dès {{event.potin.agepotin }} ans</span>
                    </div>
                </div>
            </div>
            <div class="ptn-inf1">
                <div class="ptn-info0">
                    <svg xmlns="http://www.w3.org/2000/svg" focusable="false" role="img" fill="currentColor" width="700pt" height="700pt" viewBox="0 0 700 700" aria-hidden="true" class="info-svg">
                        <path d="m336.52 519.93c3.3281 4.0117 8.2656 6.332 13.477 6.332s10.148-2.3203 13.477-6.332l137.2-168c31.152-38.203 46.633-86.812 43.305-135.99-3.3242-49.184-25.207-95.266-61.219-128.93-36.016-33.66-83.469-52.383-132.76-52.383s-96.746 18.723-132.76 52.383c-36.012 33.66-57.895 79.742-61.219 128.93-3.3281 49.18 12.152 97.789 43.305 135.99zm13.477-413.7c32.488 0 63.648 12.906 86.621 35.879 22.973 22.973 35.879 54.129 35.879 86.621 0 32.488-12.906 63.645-35.879 86.617-22.973 22.977-54.133 35.883-86.621 35.883s-63.648-12.906-86.621-35.883c-22.973-22.973-35.879-54.129-35.879-86.617 0-32.492 12.906-63.648 35.879-86.621 22.973-22.973 54.133-35.879 86.621-35.879z"/>
                    </svg>
                    <div class="ptn-inf4">
                        {% if event.locatemedia %}
                            <span class="ptn-inf2">{{ event.locatemedia.nameboard  }}</span>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
#}
    </div>
{#
    <div class="illustr-resa_card" >
        <div class="e_pictfull_card">
            {% if event.potin is not null %}
                {% if event.potin.media.imagejpg|length > 0 and event.potin.media.imagejpg[0].namefile is defined %}
                    <div class="pict_event" style="background-image: url('{{ asset('upload/module/'~event.potin.media.imagejpg[0].namefile) }}')"></div>

                {% endif %}
            {%  else %}
                {% if event.media.imagejpg|length > 0 and event.media.imagejpg[0].namefile is defined %}
                    <img src="{{ asset(event.media.imagejpg[0].getWebPath) }}" alt="image affiche">
                {% endif %}
            {% endif %}
        </div>#}

</div>
{{ include('desk/ptn_office/event/form/resapotinform.html.twig') }}