{% block body %}
<div class="_wb">
    <div class="container-bo_v5">
        {{ include('desk/ptn_office/menu/websitemenu.html.twig') }}
        <section class="_wb-ospace">
            <div class="head-wb-space"></div>
            <div class="curent-form">
            <x-event board="{{ board.id }}" potin="" partners="" city="{{ city??"" }}" event="{{event}}"></x-event>
            </div>
        </section>
    </div>
</div>
{% endblock %}
{% use "js/js-event.html.twig" %}
{% block javascripts %}
{{ parent() }}
{% endblock %}