{% set ill = 'img/AffiChange.png' %}
{% if potin.media is defined and potin.media.imagejpg[0] is defined %}
    {% set ill = potin.media.imagejpg[0].getwebPath %}
{% endif %}

<div class="dashboard-card">
    <div class="dashboard-card__header">
        <div>
            <p class="dashboard-card__hint">Potin associé</p>
            <h3 class="dashboard-card__title">{{ potin.titre }}</h3>
        </div>
        <span class="dashboard-badge">
            <i class="fa fa-calendar"></i>
            {{ potin.createAt|date('d/m/Y') }}
        </span>
    </div>

    <div class="dashboard-card__body">
        <div class="dashboard-card__media">
            <img src="{{ asset(ill) }}" alt="Illustration du potin">
        </div>

        <div class="dashboard-card__meta">
            <div>
                <span class="dashboard-meta__label">Publié par</span>
                <span class="dashboard-meta__value">{{ potin.author.name }}</span>
            </div>
            <div>
                <span class="dashboard-meta__label">Identifiant</span>
                <span class="dashboard-meta__value">#{{ potin.id }}</span>
            </div>

            <div class="dashboard-section">
                <div class="dashboard-section__header">
                    <h4 class="dashboard-section__title">Planifier une action</h4>
                </div>
                <div class="dashboard-section__content">
                    <x-eventpotin
                        event="{{ event }}"
                        potin="{{ potin.id }}"
                        board="{{ board.id }}"
                        mediatheques="{{ mediatheques|default([])|json_encode|e('html_attr') }}"
                    ></x-eventpotin>
                </div>
            </div>
        </div>
    </div>
</div>










