<div class="inf-msg_mob">
    <div class="wb-logo-pop">
        {% if msg[1].template.logo %}
            <div   class="wb_logo" style="background-image: url('{{ asset('spaceweb/template/'~msg[1].template.logo.namefile ) }}')"></div>
        {% else %}
            <div  class="wb_logo" style="background-image: url('{{ asset('img/pinsaffi.png') }}')"></div>
        {% endif %}
    </div>
</div>

<div class="_li-fx fx-cst">

    <div class="origin_mob">
        <div class="origin_iner_mob">
        {% if msg[0].tabpublication.post  %}
            <h5>{{msg[0].tabpublication.post.titre }}</h5>
        {%  else %}
            <h5>{{msg[0].tabpublication.offre.titre }}</h5>
        {% endif %}
        </div>
        <div>
            {%  if  msg[0].tballmsgp.lastconvers %}
                {%  set datetosee = msg[0].tballmsgp.lastconvers %}
            {%  else %}
                {%  set datetosee = msg[0].createAt %}
            {% endif %}

            {% if datetosee|format_datetime('short', 'none', locale='fr') is same as ("now"|format_datetime('short', 'none', locale='fr')) %}
                <div class="dt_msg_mob">{{- datetosee|format_datetime('none', 'short', locale='fr') -}}</div>
            {% else %}
                <div class="dt_msg_mob">{{- datetosee|format_datetime('medium', 'none', locale='fr')|slice(0,-4) -}}</div>
            {% endif %}
        </div>
    </div>


    <div class="af_flx-W">

        {% if not  msg[0].isdispatchsender %}
            <div class="sender_mob {{ msg[0].sender ?"":"_co-bk"}}">Nouveau contact</div>
        {% endif %}

        {% if  msg[0].isdispatchsender %}
            <div class="sender_mob {{ msg[0].sender ?"":"_co-bk"}}">{{- msg[0].tballmsgp.dispatch.name|trim -}}&nbsp;:&nbsp;</div>
        {% else %}
            <div class="sender_mob {{ msg[0].sender ?"":"_co-bk"}}">{{- msg[0].tballmsgp.contact.useridentity.firstname|trim -}}&nbsp;:&nbsp;</div>
        {% endif %}

        {%  if  msg[0].tballmsgp.extract is not null%}
            <div class="obje_mob">{{- msg[0].tballmsgp.extract|u.truncate(20, '...', false) -}}</div>
        {%  else %}
            <div class="obje_mob">&nbsp;...</div>
        {%  endif %}
    </div>
</div>


