<div class="form-container">
    <h3>1. Informations du référent</h3>
    {{ form_start(form) }}
    <div class="form-group">
        {{ form_start(form) }}
        {{ form_errors(form) }}
        {{form_rest(form)}}
        {{ form_end(form) }}
    </div>
    {{ form_end(form) }}
</div>