<div class="in_form">
            {{ form_start(form, {'attr': {'class': 'pwa-form-elastic'}}) }}

            <div class="pwa-fieldset-titledate">
                <div class="pwa-field-title">
                    {{ form_row(form.name, {'attr': {'class': 'form-affi','placeholder':'"menu du jour"'}}) }}
                </div>
                <div class="pwa-field-info-date">

                    <div class="pwa-field-date-label">Pour la période du : </div>

                    <div class="pwa-timdate-form">
                        {{ form_widget(form.start, {'attr': {'class': 'pwa-form-date'}}) }}
                    </div>

                    <div class="pwa-field-date-label">au : </div>

                    <div class="pwa-timdate-form">
                        {{ form_widget(form.end, {'attr': {'class': 'pwa-form-date'}}) }}
                    </div>
                </div>
            </div>



            <div class="pwa-field-info">

                <div class="_fx-R fx-cbtw">
                    {{ form_row(form.catformules) }}
                </div>
            </div>


            <div class="text-center">
                <button id="add_formule" class="btn-send">Ajoutez une déclinaison</button>
            </div>


            <div class="pwa-buble-form">
                <h5>selectionez les entrées, plats, desserts et boissons pour cette formule</h5>
                <div class="pwa-buble-field">
                    <div class="pwa-inpop-content">
                        <div class="pwa-choice-flex">
                            <div class="bul-go_f pwa-bull-sz-lit bulletoggle" data-affitgl="tgl_15" id="afftgl15">

                                <div class="">Entrée</div>
                            </div>
                            <div class="bul-go_f pwa-bull-sz-lit bulletoggle" data-affitgl="tgl_11" id="afftgl11">

                                <div class="">Plat</div>
                            </div>
                            <div class="bul-go_f pwa-bull-sz-lit bulletoggle" data-affitgl="tgl_12" id="afftgl12">

                                <div class="">Dessert</div>
                            </div>
                            <div class="bul-go_f pwa-bull-sz-lit bulletoggle" data-affitgl="tgl_14" id="afftgl14">

                                <div class="">Boisson</div>
                            </div>
                        </div>
                        <section class="tglaff blok_pop-carte" id="tgl_15" style="display: none">
                            <div class="_fx-R_v6">
                                {%  for carte in tabcarte.entree %}
                                    <div class="pop-carte" data-carte="{{ carte.id }}" data-ctg="{{carte.categorie.id}}">{{ carte.titre }}</div>
                                {% endfor %}
                            </div>
                        </section>
                        <section class="tglaff blok_pop-carte" id="tgl_11" style="display: none">
                            <div class="_fx-R_v6">
                                {%  for carte in tabcarte.plat %}
                                    <div class="pop-carte" data-carte="{{carte.id}}" data-ctg="{{carte.categorie.id}}">{{carte.titre}}</div>
                                {% endfor %}
                            </div>
                        </section>
                        <section class="tglaff blok_pop-carte" id="tgl_12" style="display: none">
                            <div class="_fx-R_v6">
                                {%  for carte in tabcarte.dessert %}
                                    <div class="pop-carte" data-carte="{{ carte.id }}" data-ctg="{{carte.categorie.id}}">{{ carte.titre }}</div>
                                {% endfor %}
                            </div>
                        </section>
                        <section class="tglaff blok_pop-carte" id="tgl_14" style="display: none">
                            <div class="_fx-R_v6">
                                {%  for carte in tabcarte.boisson %}
                                    <div class="pop-carte" data-carte="{{ carte.id }}" data-ctg="{{carte.categorie.id}}">{{ carte.titre }}</div>
                                {% endfor %}
                            </div>
                        </section>
                    </div>
                </div>
            </div>
            <div class="field-services _buble-form">
                <h5>Cette formule est disponible :</h5>
                {{ form_row(form.services) }}
            </div>
            {{form_rest(form)}}
            {{form_end(form)}}
        </div>

