<div class="flrow">
    <div class="fx-cub ii_cub2">
        <div class="O_list-cube">
            <div class="list-incub">
                {%  if potin.media.imagejpg[0] is defined  %}
                    {%  set ill= potin.media.imagejpg[0].getwebPath %}
                {%  else %}
                    {%  set ill= "img/AffiChange.png" %}
                {% endif %}
                <div class="mod-incub">
                    <div class="pos-incub-i">
                        <div class="pos-incub-l w-cb1">
                            <div class="tit-pos-cub">{{ potin.titre }}</div>
                            <div class="inf_cub">
                                <div class="illust-list">
                                    <div class="iner-illust" style="background-image: url('{{ asset(ill) }}')"></div>
                                </div>
                            </div>
                        </div>
                        <div class="pos-incub-px">
                            <div class="account_module">
                                <div class="publiedby">publié par : {{ potin.author.name }} </div>
                                <p>le : {{ potin.createAt|date("j-m-Y") }}</p>
                            </div>
                            <div class="account_module">
                                <x-eventpotin
                                    event="{{ event }}"
                                    potin="{{ potin.id }}"
                                    board="{{ board.id }}"
                                    mediatheques="{{ mediatheques|default([])|json_encode|e('html_attr') }}"
                                ></x-eventpotin>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>










