<div class="pwa-titlpotin">
<h2 title="Ressource : {{ ressource.titre }}">{{ ressource.titre }}</h2>
{% if ressource.pict is not null %}
    <div class="pwa-illus-rss" data-ce-columns="1" data-ce-images="1">
        <figure role="group" aria-label="{{ ressource.titre }}">
            <img src="{{ asset(ressource.pict.getwebpath) }}"
                 alt="{{ ressource.titre }}"
                 loading="lazy">
            <figcaption class="pwa-caption">{{ ressource.titre }}</figcaption>
        </figure>
    </div>
{% endif %}
</div>
<div class="pwa-illustr-ressourc">
    {% if ressource.composition is not same as (" ") and ressource.composition is not empty %}
        <div class="pwa-como">
            <p>{{ ressource.composition|raw }}</p>
        </div>
    {%  endif %}

    {% if ressource.descriptif is not same as (" ") and ressource.descriptif is not empty %}
    <div class="pwa-iner-compo">
        <div class="pwa-txt-r1">
            {{ ressource.descriptif|raw }}
        </div>
    </div>
    {%  endif %}
</div>
{% if content is not same as ("") %}
    <div class="pwa-inner-post">
        <div class="pwa-post-content">
            <div class="article_content">
                {{ content|markdown_to_html }}
            </div>
        </div>
    </div>
{% endif %}






