{# version mobile #}
<!DOCTYPE html>
<html lang="FR">
<head>
    {% block head %}
        <title>{% block title %}{{vartwig.title}}{% endblock %}</title>
            {{ include('head/head.html.twig') }}
    {% endblock head %}
        {{ encore_entry_link_tags('app') }}
</head>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-P171X7Q4YQ"></script>
<script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-P171X7Q4YQ');
</script>
<script>
if ('serviceWorker' in navigator) {
        window.addEventListener('load', function() {
            var swUrl = '{{ asset('_service-worker.js') }}';
            if (!swUrl) {
                return;
            }
            navigator.serviceWorker.register(swUrl).then(function(registration) {
                        console.log('ServiceWorker registration successful with scope: ', registration.scope);
            }).catch(function(err) {
                console.warn('ServiceWorker registration failed:', err);
            });

        });
}
</script>
{% if vartwig.scope is defined %}
<section id="item" data-microdata="{{ vartwig.scope|json_encode() }}"></section>
{%  endif %}
{%  set agent = app.session.get('agent') %}

{% block menu %}
{% endblock menu %}
<body class="wbesitemob">
<div class="wb-inf-" data-agent="{{ agent }}" data-replacejs="{{ replacejs?'yes':'no' }}"></div>
<main class="content-constrain2" id="page">
{% block core %}
        {% block body %}
        {% endblock body %}
        {% block footer %}
        {% endblock footer %}
{% endblock core %}
</main>
{% block javascripts %}
{% endblock %}
</body>
</html>
