
    <div id="initoffert" data-taboffre="{{ taboffre }}" data-twigtbunique="" data-twigconges=""></div>
    <div class="account_module">
        <x-offrepotin offre="{{offre}}" board="{{ board.id }}"></x-offrepotin>
    </div>
    {#

    <form class="form-elastic" enctype="multipart/form-data" method="post" name="fileinfo">

        <div class="content-form-post">
            {#
            <div class="white-tab">
                <select id="store" style="/* display: none; */">
                    <option value="16">Atelier</option>
                    <option value="9">Produit</option>
                    <option value="26">Service</option>
                    <option value="13">Trock</option>
                    <option value="18">data</option>
                </select>
            </div>
            #}
{#
            <div class="white-tab">
                <label for="titreoffre">Intitulé</label>
                <input type="text" class="form-affi" name="titreoffre" id="titreoffre" placeholder="titre....." required="required">
                <span class="error" aria-live="polite"></span>

                <label for="legende">en quelques mots...</label>
                <textarea class="form-affi" name="legende" id="legende"
                          placeholder="Entrez une description courte" rows="1" ></textarea>
                <span class="error" aria-live="polite"></span>

                <label for="unit">quantité proposée</label>
                <input type="number"  class="form-affi"  minlength="1" maxlength="10" name="unit" id="unit">
                <span class="error" aria-live="polite"></span>

                <label for="oldprice">prix en euro (format : 0,00)</label>
                <input type="text"  class="form-affi" name="oldprice" id="oldprice" pattern="[0-9]+[,.][0-9]{2}">
                <span class="error" aria-live="polite"></span>
            </div>
        </div>
{#
        <div class="content-form-post">
            <h5>information sur l'etat du produit</h5>
            <div class="white-tab _fx-R _fx-center">
                <div class="rad-af">
                    <input type="radio" required class="" name="etat" id="carac1" value="occasion">
                    <label for="carac1">occasion</label>
                </div>
                <div class="rad-af">
                    <input type="radio" required class="" name="etat" id="carac2" value="neuf">
                    <label for="carac2">neuf</label>
                </div>
            </div>
        </div>
#}
    {#
        <div class="white-tab _fx-R _fx-center">
            <div class="op-avanc colapsaffi" data-afficolapse="more" data-toggle="collapse" data-target="#collapseOpmore" aria-expanded="false" aria-controls="collapseOpmore"><i class="fastrong fa fa-caret-square-o-down" aria-hidden="true"></i> plus d'informations (optionnel)</div>
            <div class="collapse" id="collapseOpmore">
                <div class="card-form">

                    <div class="form-cube">
                        <div class="content-form-cube">
                            {{ include('desk/ptn_office/offre/talk/add-cube-form-calendar.html.twig') }}
                        </div>
                    </div>

                    <div class="form-cube">
                        <div class="content-form-cube">
                            {{ include('desk/ptn_office/offre/talk/add-cube-form-produit.html.twig') }}
                        </div>
                    </div>

                    <div class="form-cube">
                        <div class="content-form-cube">
                            {{ include('desk/ptn_office/offre/talk/add-cube-form-link.html.twig') }}
                        </div>
                    </div>

                    <div class="form-cube">
                        <div class="content-form-cube">
                            {{ include('desk/ptn_office/offre/talk/add-cube-form-promo.html.twig') }}
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <input type="hidden" name="token" value="{{ csrf_token('edit-offre') }}"/>
        <input type="hidden" name="catagory" value="offre"/>
    </form>

    <div class="content-form-post">
        <div class="white-tab">
            <div class="tbb-post">
                <div class="title_bubble">Image de l'article</div>
                <input id="uploadImage" type="file" name="uploadImage" accept=".jpg, .jpeg, .png" style="display:none"/>
                <label id="media-img" class="cmd-btn-media smalbtblue fa fa-camera" for="uploadImage"></label>
            </div>
            <div class="preview"></div>
        </div>
    </div>

    <div class="form-elastic">
        <div class="content-form-post">
            <div class="white-tab _fx-R _fx-center">
                <div class="op-avanc" data-toggle="collapse" data-target="#collapseContent" aria-expanded="false" aria-controls="collapseContent"> ajoutez un contenu</div>
                <div class="collapse" id="collapseContent">
                    <div class="card-form">
                        <div id="articlenews">
                            {{ include('WysiWyg/toolbar.html.twig') }}
                            <div id="editor"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="gp-form-row-col2">
        <div class="progress">
            <div id="loader-icon"><img src="{{asset('svg/LoaderIcon.gif')}}"  alt="loader"/></div>
        </div>
        <div class="iner-bt">
            <button id="post-news" class="btn-send">Enregistrez</button>
        </div>
    </div>
    #}




