{#  <div class="allrow">Potin du {{ event.appointment.starttime|date('d/m/Y') }}</div> #}
<table class="ptn_table t_size_list">
    <thead>
    <tr>
        <th></th>
        <th>fichier</th>
        <th></th>
        <th>type</th>
    </tr>
    </thead>
    <tbody>

    {%  for doc in list.docs %}
        <tr>
            <td>{{ doc.name }}</td>
            <td><a href="{{ path('download_doc_participant', {'id':doc.id, 'idpotin':post.id} )}}"><i class="fa fa-download"></i></a></td>
           {#  <td><a href="{{ asset(doc.getWebPath) }}" download="doc"><i class="fa fa-download"></i></a></td> #}
            <td>{{doc.extension}}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>


