{% block body %}
<div class="log-machina">
    <div class="title_log">
        {{ include('svg/potins/base logo_ini_potins_pp_fdwhite.html.twig') }}
        <h1>{{vartwig.title|capitalize}}</h1>
    </div>

    <div class="form_connector_old">

            <h5 class="glass-field_identify">Réinitialisation de votre mot de passe pour votre compte utlisateur : {{ mail }}</h5>
            <h4>Un e-mail vous a été envoyé</h4>
            <p>Il contient un lien sur lequel il vous faudra cliquer pour réinitialiser votre mot de passe.</p>
            <h2>Remarque :</h2>
            <p>
                Ce lien expire {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
                Vous ne pouvez demander un nouveau mot de passe que toutes les {{ tokenLifetime }}
                {{ tokenLifetime > 1 ? 'heures' : 'heure' }}.
            </p>
            <p>Si vous ne recevez pas cet email, vérifiez votre dossier spam ou or <a href="{{ path('app_forgot_password_request') }}">essayez à nouveau</a>.</p>
        </div>
</div>
{% endblock %}
