<!-- menu_mobile.twig -->
<div data-controller="hello">
    ...
</div>
<div data-controller="menu">
    <button aria-label="Menu" data-action="click->menu#open" class="menu-icon">☰</button>

    <div data-menu-target="overlay" class="hidden overlay" data-action="click->menu#close"></div>

    <nav data-menu-target="panel" class="hidden mobile-panel">
        <button aria-label="Fermer" data-action="click->menu#close" class="close-icon">✕</button>
        <ul>
            <li><a href="{{ path('events_all') }}">Les prochains potins</a></li>
            <li><a href="{{ path('board_all') }}">Ateliers potins</a></li>
            <li><a href="{{ path('ressources') }}">Ressources</a></li>
            <li><a href="#">Contact</a></li>

            {% if is_granted('ROLE_SUPER_ADMIN') %}
                <li><a href="{{ path('profil_customer') }}">Profil</a></li>
                <li><a href="{{ path('office_member') }}">Publications</a></li>
                <li><a href="{{ path('admin') }}">Administration</a></li>
                <li><a href="{{ path('app_logout') }}">Déconnexion</a></li>
            {% elseif is_granted('ROLE_MEMBER') %}
                <li><a href="{{ path('profil_customer') }}">Profil</a></li>
                <li><a href="{{ path('office_member') }}">Publications</a></li>
                <li><a href="{{ path('app_logout') }}">Déconnexion</a></li>
            {% else %}
                <li><a href="{{ path('new_identify') }}">Inscrivez-vous</a></li>
                <li><a href="{{ path('app_login') }}">Connectez-vous</a></li>
            {% endif %}
        </ul>
    </nav>
</div>
