<nav class="gnav" id="gnav-main-container" aria-label="Principal">
    <div data-gnav-region="Main">
        <div class="gnav-header-kbhfnm e37uo190">
            <div class="gnav-header-1amsz23 e37uo190">
                <a class="gnav-Logo gnav-header-8l0s9d emf9s7v0" href="{{ path('events_all')}}"
                   data-gnav-element-name="Logo" id="indeed-globalnav-logo" aria-label="Logo affichange">
                    <div class="gnav-Logo-icon" aria-hidden="true">
                        <svg
                                xmlns="http://www.w3.org/2000/svg"
                                id="svg12"
                                viewBox="0 0 13.229 13.229"
                                version="1.1"
                                height="35"
                                width="35">
                            <defs
                                    id="defs16"/>
                            <path
                                    style="stroke:#000080"
                                    id="path2"
                                    stroke-width=".33126"
                                    stroke-linejoin="round"
                                    stroke="#fff"
                                    fill="none"
                                    d="m12.921 6.5949a6.3321 6.3321 0 0 1-6.3321 6.3321 6.3321 6.3321 0 0 1-6.3321-6.3321 6.3321 6.3321 0 0 1 6.3321-6.3321 6.3321 6.3321 0 0 1 6.3321 6.3321"/>
                            <path
                                    id="path4"
                                    fill="none"
                                    d="m11.908 6.5641a5.2452 5.1408 0 0 1-5.2452 5.1408 5.2452 5.1408 0 0 1-5.2452-5.1408 5.2452 5.1408 0 0 1 5.2452-5.1408 5.2452 5.1408 0 0 1 5.2452 5.1408"/>
                            <path
                                    style="fill:#000080"
                                    id="path6"
                                    fill="#fff"
                                    d="m2.6058 9.5282-0.65852 2.2637 2.4283-1.0289z"/>
                            <g
                                    style="fill:#000080"
                                    id="g10"
                                    aria-label="A"
                                    fill="#fff"
                                    transform="matrix(.12591 0 0 .13394 -4.1361 -13.187)">
                                <path
                                        style="fill:#000080"
                                        id="path8"
                                        fill="#fff"
                                        d="m92.12 120.04 21.081 43.568q1.3274 2.6547 1.3274 3.9821 0 2.8109-4.5286 5.0752-2.6547 1.3274-4.2163 1.3274-1.4835 0-2.4986-0.70272-0.93696-0.70271-1.4054-1.4835-0.3904-0.7808-1.1712-2.3424l-4.0601-8.4326h-21.628l-4.0601 8.4326q-0.7808 1.5616-1.2493 2.2643-0.3904 0.70272-1.4054 1.4835-0.93696 0.70272-2.4985 0.70272-1.4835 0-4.1382-1.3274-4.5286-2.1862-4.5286-4.9971 0-1.3274 1.3274-3.9821l21.081-43.646q0.85888-1.7958 2.5766-2.889 1.7958-1.0931 3.7478-1.0931 4.2163 0 6.2464 4.0601zm-6.3244 18.739-5.1533 10.697h10.385z"/>
                            </g>
                        </svg>
                    </div>
                </a>
            </div>

            <div class="gnav-header-1q84fi9 e37uo190">
                {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                <div class="gnav-header-1i8lng e37uo190">
                    <div class="gnav-header-1hifx0 e37uo190">
                        <a aria-label="Messages Non lu 0" href="{{path('board_all') }}" class="gnav-header-tyjnkf e8ju0x51">
                            <svg style="width:1.625rem;height:100%" viewBox="0 0 218 218" fill="none"
                                 xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false">
                                <g clip-path="url(#clip0)">
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                          d="M186.055 27.2253C188.552 27.2253 190.552 29.2497 190.552 31.7469V149.31C190.552 151.807 188.528 153.831 186.031 153.831H92.9662L62.9211 187.632C60.1652 190.732 55.038 188.795 55.02 184.647L54.886 153.831H32.2951C29.7978 153.831 27.7734 151.807 27.7734 149.31V31.747C27.7734 29.2498 29.7236 27.2254 32.2209 27.2254L186.055 27.2253Z"
                                          fill="#2D2D2D"></path>
                                    <path d="M59.6547 119.901C57.1575 119.901 55.1331 117.877 55.1331 115.379V106.336C55.1331 103.839 57.1575 101.815 59.6547 101.815L123.769 101.815C126.266 101.815 128.29 103.839 128.29 106.336V115.379C128.29 117.877 126.266 119.901 123.769 119.901H59.6547Z"
                                          fill="white"></path>
                                    <path d="M59.6547 83.728C57.1575 83.728 55.1331 81.7036 55.1331 79.2064V70.1631C55.1331 67.6659 57.1575 65.6415 59.6547 65.6415L150.968 65.6415C153.465 65.6415 155.49 67.6659 155.49 70.1631V79.2064C155.49 81.7036 153.465 83.728 150.968 83.728H59.6547Z"
                                          fill="white"></path>
                                </g>
                                <defs>
                                    <clipPath id="clip0">
                                        <rect width="217.038" height="217.038" fill="white"
                                              transform="translate(0.643799 0.095459)"></rect>
                                    </clipPath>
                                </defs>
                            </svg>
                        </a>
                    </div>
{#
                    <div class="gnav-header-1hifx0 e37uo190">
                        <a aria-label="Notifications Non lu 0" href="{{path('board_board',{'id': board.id }) }}" class="gnav-header-tyjnkf e8ju0x51">
                            <svg xmlns="http://www.w3.org/2000/svg" focusable="false" role="img" fill="currentColor"
                                 viewBox="0 0 24 24" aria-hidden="true" class="gnav-header-1ob2qzx e18c60hj0">
                                <path d="M12 2a1.5 1.5 0 00-1.5 1.5v.161A7.003 7.003 0 005 10.5V16l-1.854 1.854a.5.5 0 00-.146.353v.293a.5.5 0 00.5.5h17a.5.5 0 00.5-.5v-.293a.5.5 0 00-.146-.353L19 16v-5.5a7.003 7.003 0 00-5.5-6.839V3.5A1.5 1.5 0 0012 2zm0 20a3.001 3.001 0 01-2.83-2h5.66A3.001 3.001 0 0112 22z"></path>
                            </svg>
                        </a>
                    </div>
#}
                </div>

                {%  endif %}

                <div class="gnav-header-1ti2ipg eu4oa1w0">
                    <div class="gnav-header-1hifx0 e37uo190">
                        <button tabindex="0" aria-label="Navigation principale" id="nav_user" data-gnav-element-name="BurgerMenu"
                                data-gnav-action="open" aria-controls="gnav-burger-menu-nav" aria-expanded="false"
                                class="gnav-header-tyjnkf e8ju0x51">
                            <svg xmlns="http://www.w3.org/2000/svg" focusable="false" role="img" fill="currentColor"
                                 viewBox="0 0 24 24" aria-hidden="true" class="gnav-header-1h5euvm e18c60hj0">
                                <path d="M3.5 6h17a.5.5 0 01.5.5v1a.5.5 0 01-.5.5h-17a.5.5 0 01-.5-.5v-1a.5.5 0 01.5-.5zm17 5h-17a.5.5 0 00-.5.5v1a.5.5 0 00.5.5h17a.5.5 0 00.5-.5v-1a.5.5 0 00-.5-.5zm0 5h-17a.5.5 0 00-.5.5v1a.5.5 0 00.5.5h17a.5.5 0 00.5-.5v-1a.5.5 0 00-.5-.5z"></path>
                            </svg>
                        </button>
                    </div>



                    <div role="region" data-gnav-region="BurgerMenu" id="popuser" class="gnav-header-1g2wiwy eu4oa1w0">
                        <div role="button" aria-label="Fermer" data-gnav-element-name="BurgerMenuBackground"
                             data-gnav-action="close" class="gnav-header-k5oo7o eu4oa1w0"></div>

                        <nav id="gnav-burger-menu-nav" aria-label="Navigation principale"
                             class="gnav-header-oneixo e37uo190">
                            <div role="button" id="nav_close" tabindex="0" aria-label="Fermer" data-gnav-element-name="Close"
                                 data-gnav-action="close" class="gnav-header-432fp5 e37uo190">
                                <svg xmlns="http://www.w3.org/2000/svg" focusable="false" role="img" fill="currentColor"
                                     viewBox="0 0 24 24" aria-hidden="true" class="gnav-header-1h5euvm e18c60hj0">
                                    <path d="M4.575 18.01a.5.5 0 000 .707l.708.708a.5.5 0 00.707 0l6.01-6.01 6.01 6.01a.5.5 0 00.707 0l.707-.707a.5.5 0 000-.708L13.414 12l6.01-6.01a.5.5 0 000-.707l-.706-.708a.5.5 0 00-.707 0L12 10.586l-6.01-6.01a.5.5 0 00-.708 0l-.707.707a.5.5 0 000 .707l6.01 6.01-6.01 6.01z"></path>
                                </svg>
                            </div>
                            {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}

                            <div class="gnav-header-vurnku eu4oa1w0">
                                <div class="gnav-header-125wztp e37uo190">
                                    <a href="{{path('board_all')}}" class="gnav-header-g5fyfa emf9s7v0">
                                        <div aria-hidden="true" class="gnav-header-vurnku eu4oa1w0">
                                            <div class="gnav-header-2hk4u4 eu4oa1w0">Profil</div>
                                        </div>
                                        <svg xmlns="http://www.w3.org/2000/svg" focusable="false" role="img"
                                             fill="currentColor" viewBox="0 0 24 24" aria-hidden="true"
                                             class="gnav-header-enbm4d e18c60hj0">
                                            <path d="M9.888 5.998a.506.506 0 00-.716-.008l-.707.707a.506.506 0 00.01.716L13.06 12l-4.587 4.587c-.2.2-.204.521-.009.716l.707.707a.507.507 0 00.717-.009l5.647-5.648c.1-.1.148-.233.144-.366a.492.492 0 00-.144-.34v-.001a.611.611 0 00-.009-.009L9.888 5.998z"></path>
                                        </svg>
                                    </a>
                                </div>

                                <div class="gnav-header-125wztp e37uo190">
                                    <a href="{{path('board_all')}}" class="gnav-header-g5fyfa emf9s7v0">
                                        <div aria-hidden="true" class="gnav-header-vurnku eu4oa1w0">
                                            <div class="gnav-header-2hk4u4 eu4oa1w0">Mes factures</div>
                                        </div>
                                        <svg xmlns="http://www.w3.org/2000/svg" focusable="false" role="img"
                                             fill="currentColor" viewBox="0 0 24 24" aria-hidden="true"
                                             class="gnav-header-enbm4d e18c60hj0">
                                            <path d="M9.888 5.998a.506.506 0 00-.716-.008l-.707.707a.506.506 0 00.01.716L13.06 12l-4.587 4.587c-.2.2-.204.521-.009.716l.707.707a.507.507 0 00.717-.009l5.647-5.648c.1-.1.148-.233.144-.366a.492.492 0 00-.144-.34v-.001a.611.611 0 00-.009-.009L9.888 5.998z"></path>
                                        </svg>
                                    </a>
                                </div>

                                <div class="gnav-header-125wztp e37uo190">
                                    <a href="{{path('board_all')}}" class="gnav-header-g5fyfa emf9s7v0">
                                        <div aria-hidden="true" class="gnav-header-vurnku eu4oa1w0">
                                            <div class="gnav-header-2hk4u4 eu4oa1w0">Mes préferences</div>
                                        </div>
                                        <svg xmlns="http://www.w3.org/2000/svg" focusable="false" role="img"
                                             fill="currentColor" viewBox="0 0 24 24" aria-hidden="true"
                                             class="gnav-header-enbm4d e18c60hj0">
                                            <path d="M9.888 5.998a.506.506 0 00-.716-.008l-.707.707a.506.506 0 00.01.716L13.06 12l-4.587 4.587c-.2.2-.204.521-.009.716l.707.707a.507.507 0 00.717-.009l5.647-5.648c.1-.1.148-.233.144-.366a.492.492 0 00-.144-.34v-.001a.611.611 0 00-.009-.009L9.888 5.998z"></path>
                                        </svg>
                                    </a>
                                </div>

                                <div class="gnav-header-125wztp e37uo190">
                                    <a href="{{ path('board_all') }}"class="gnav-header-g5fyfa emf9s7v0">
                                        <div aria-hidden="true" class="gnav-header-vurnku eu4oa1w0">
                                            <div class="gnav-header-2hk4u4 eu4oa1w0">Mes services</div>
                                        </div>
                                        <svg xmlns="http://www.w3.org/2000/svg" focusable="false" role="img"
                                             fill="currentColor" viewBox="0 0 24 24" aria-hidden="true"
                                             class="gnav-header-enbm4d e18c60hj0">
                                            <path d="M9.888 5.998a.506.506 0 00-.716-.008l-.707.707a.506.506 0 00.01.716L13.06 12l-4.587 4.587c-.2.2-.204.521-.009.716l.707.707a.507.507 0 00.717-.009l5.647-5.648c.1-.1.148-.233.144-.366a.492.492 0 00-.144-.34v-.001a.611.611 0 00-.009-.009L9.888 5.998z"></path>
                                        </svg>
                                    </a>
                                </div>
                            </div>

                            <div class="gnav-header-2pg0ni eu4oa1w0"></div>

                            <div class="gnav-header-vurnku eu4oa1w0">
                                <div class="gnav-header-125wztp e37uo190">
                                    <a href="{{path('board_all')}}" class="gnav-header-g5fyfa emf9s7v0">
                                        <div aria-hidden="true" class="gnav-header-vurnku eu4oa1w0">
                                            <div class="gnav-header-2hk4u4 eu4oa1w0">Mes panneaux</div>
                                        </div>
                                        <svg xmlns="http://www.w3.org/2000/svg" focusable="false" role="img"
                                             fill="currentColor" viewBox="0 0 24 24" aria-hidden="true"
                                             class="gnav-header-enbm4d e18c60hj0">
                                            <path d="M9.888 5.998a.506.506 0 00-.716-.008l-.707.707a.506.506 0 00.01.716L13.06 12l-4.587 4.587c-.2.2-.204.521-.009.716l.707.707a.507.507 0 00.717-.009l5.647-5.648c.1-.1.148-.233.144-.366a.492.492 0 00-.144-.34v-.001a.611.611 0 00-.009-.009L9.888 5.998z"></path>
                                        </svg>
                                    </a>
                                </div>

                                <div class="gnav-header-125wztp e37uo190">
                                    <a href="{{ path('app_logout') }}"class="gnav-header-g5fyfa emf9s7v0">
                                        <div aria-hidden="true" class="gnav-header-vurnku eu4oa1w0">
                                            <div class="gnav-header-2hk4u4 eu4oa1w0">Déconnexion</div>
                                            <div class="gnav-header-pce2bd eu4oa1w0"><span>{{  app.session.get('namespaceweb')}}</span>
                                            </div>
                                        </div>
                                        <svg xmlns="http://www.w3.org/2000/svg" focusable="false" role="img"
                                             fill="currentColor" viewBox="0 0 24 24" aria-hidden="true"
                                             class="gnav-header-enbm4d e18c60hj0">
                                            <path d="M9.888 5.998a.506.506 0 00-.716-.008l-.707.707a.506.506 0 00.01.716L13.06 12l-4.587 4.587c-.2.2-.204.521-.009.716l.707.707a.507.507 0 00.717-.009l5.647-5.648c.1-.1.148-.233.144-.366a.492.492 0 00-.144-.34v-.001a.611.611 0 00-.009-.009L9.888 5.998z"></path>
                                        </svg>
                                    </a>
                                </div>

                            </div>
                            {% else %}
                                <div class="gnav-header-vurnku eu4oa1w0">
                                    <div class="gnav-header-125wztp e37uo190">
                                        <a href="{{ path('app_login') }}" class="gnav-header-g5fyfa emf9s7v0">
                                            <div aria-hidden="true" class="gnav-header-vurnku eu4oa1w0">
                                                <div class="gnav-header-2hk4u4 eu4oa1w0">Connexion</div>
                                                <div class="gnav-header-pce2bd eu4oa1w0"></div>
                                            </div>
                                            <svg xmlns="http://www.w3.org/2000/svg" focusable="false" role="img"
                                                 fill="currentColor" viewBox="0 0 24 24" aria-hidden="true"
                                                 class="gnav-header-enbm4d e18c60hj0">
                                                <path d="M9.888 5.998a.506.506 0 00-.716-.008l-.707.707a.506.506 0 00.01.716L13.06 12l-4.587 4.587c-.2.2-.204.521-.009.716l.707.707a.507.507 0 00.717-.009l5.647-5.648c.1-.1.148-.233.144-.366a.492.492 0 00-.144-.34v-.001a.611.611 0 00-.009-.009L9.888 5.998z"></path>
                                            </svg>
                                        </a>
                                    </div>

                                </div>
                            {% endif %}
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>