
{% if pagination is not null %}
<div class="msg-head-dsk" id="af_navdk">
    <div class="msg_col_head">
        <div class="pag_head_dsk">
                <div id="mormsg">
                {{ knp_pagination_render(pagination) }}
                </div>
        </div>
    </div>
</div>
{%  endif %}

<div class="w100">
    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
        {%  if msgs is defined %}
        {% for msg in msgs %}
            {% if msg.dispatchopen is defined %}
            {% apply spaceless %}
            <a class="Ax _co-gy {{ msg.sender ?"":"Ax-no"}}" href="{{ path('read_private_convers_dp',{'id':msg.id})}}">
                <div class="_gr_row  inf-msg {{ msg.sender ?"gxcsal":""}}">
                    <div class="_bb-msg {{ msg.sender ?"_bg-Wfilt":"_bg-R"}}" ></div>
                    <div class="_li-fx fx-cst">
                        <div class="_gr-Ax">
                            <div class="{{ msg.sender ?"":""}}">{{- msg.dispatchopen.name|trim -}}</div>
                            <div class="obje">{{- msg.subject|u.truncate(20, '...', false) -}}</div>
                            {% if msg.createAt|format_datetime('short', 'none', locale='fr') is same as ("now"|format_datetime('short', 'none', locale='fr')) %}
                                <div>{{- msg.createAt|format_datetime('none', 'short', locale='fr') -}}</div>
                            {% else %}
                                <div>{{- msg.createAt|format_datetime('medium', 'none', locale='fr')|slice(0,-4) -}}</div>
                            {% endif %}
                        </div>
                    {% if msg.pj is defined %}
                        <div class="andel">
                            <div><p>pièce jointe</p></div>
                        </div>
                    {% endif %}
                    </div>
                </div>
            </a>
            {% endapply %}
            {% else %}
                {% apply spaceless %}
                    <a class="Ax _co-gy {{ msg.sender ?"":"Ax-no"}}" href="{{ path('read_msg',{'slug':msg.websitedest.slug,'id':msg.id})}}">
                        <div class="_gr_row  inf-msg {{ msg.sender ?"gxcsal":""}}">
                            <div class="_bb-msg {{ msg.sender ?"_bg-Wfilt":"_bg-R"}}" ></div>
                            <div class="_li-fx fx-cst">
                                {% if not msg.isspaceweb %}
                                    <div class="{{ msg.sender ?"":"_co-bk"}}">Nouveau contact</div>
                                {% endif %}
                                <div class="_gr-Ax">
                                    {% if msg.isspaceweb %}
                                        <div class="{{ msg.sender ?"":"_co-bk"}}">{{- msg.spacewebexpe.name|trim -}}</div>
                                    {% else %}
                                        <div class="{{ msg.sender ?"":"_co-bk"}}">{{- msg.contactexp.useridentity.firstname|trim -}}</div>
                                    {% endif %}
                                    <div class="obje">{{- msg.subject|u.truncate(20, '...', false) -}}</div>
                                    {% if msg.createAt|format_datetime('short', 'none', locale='fr') is same as ("now"|format_datetime('short', 'none', locale='fr')) %}
                                        <div>{{- msg.createAt|format_datetime('none', 'short', locale='fr') -}}</div>
                                    {% else %}
                                        <div>{{- msg.createAt|format_datetime('medium', 'none', locale='fr')|slice(0,-4) -}}</div>
                                    {% endif %}
                                </div>
                                {% if msg.pj is defined %}
                                    <div class="andel">
                                        <div><p>pièce jointe</p></div>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </a>
                {% endapply %}
            {%  endif %}
        {% endfor %}
        {% endif %}
    {%  endif %}
</div>