<div class="cub-form">
    <div class="act-ct">
        <div class="cbe-fx">
            <div class="cbe_cnt">
                <div class="c_i_b">
                    <div class="in_cib">

                        <div class="form-groupfields glass-label">
                            <div class="resa-title_form">
                                <h3>Réservation pour la date du {{ event.appointment.starttime|date('j/m/Y') }}</h3>
                            </div>


                            <div class="process-resa_events glass-label">
                                {#
                                <div class="stape-process-lit" >
                                    <h5>atelier : <strong>{{ post.titre }}</strong></h5>
                                </div>
                                #}
                                <div class="resa-title_form">
                                    <h3>contact référent:</h3>
                                </div>

                                {{ form_start(form) }}
                                {{ form_errors(form) }}


                                {{form_rest(form)}}
                                {{ form_end(form) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
