<div class="bk_content">
    <div class="tab_lit_bo">
        {%  for tab in offres %}
            {%  if tab.media.imagejpg[0] is defined  %}
                {%  set ill= tab.media.imagejpg[0].getwebPath %}
            {%  else %}
                {%  set ill= "img/AffiChange.png" %}
            {% endif %}
            <div class="pot_bo sha_lgt">
                <div class="w-cb1">
                    <img src="{{ asset(ill) }}" alt="">
                </div>
                <div class="pos-incub-px">
                    <div class="account_module">
                        <h5>{{ tab.titre }}</h5>
                        <a href="{{ path('presents_happy_secret',{codepersonnel:tab.code}) }}">voir</a>
                        <p>/presents/happy-chrismes/{{ tab.code }}</p>
                        <p>le : {{ tab.createAt|date("j-m-Y") }}</p>
                    </div>
                    <div class="tab_present">
                        <ul>
                        {%  for present in tab.gppresents.articles %}
                            <li>{{ present.titre }}</li>
                        {%  endfor %}
                        </ul>

                    </div>

                    <div class="pot_bo w-cb3">

                        {% set offre=tab %}
                        {% if (member.id is same as (offre.author.id))  or (member.id == 1) %}
                            <div class="tools-msg">
                                <a class="e-tool" title="edition de l'affiche" href="{{ path('edit_offre', {'id':offre.id}) }}">
                                    <i class=" fa fa-edit" data-descr="editer.."></i>
                                </a>
                                <a class="e-tool" title="etat de la publication"  href="{{ path('publied_offre', {'id':offre.id, 'board':board.id}) }}">
                                    {%  if offre.publied %}
                                        <div class="_icO-rd green"><i class="fa fa-flag-checkered" aria-hidden="true"></i></div>
                                    {% else %}
                                        <div class="_icO-rd red"><i class="fa fa-flag" aria-hidden="true"></i></div>
                                    {%  endif %}
                                </a>
                                <a class="e-tool" title="messagerie" href="{{ path('form-delete_offre', {'id':offre.id}) }}"><i class=" fa fa-trash" data-descr="en bulle.."></i></a>
                            </div>

                            <nav class="relational_relat">
                                <a href="{{ path('new_present', {'id':offre.id}) }}" class="nav1 btn  hide-on-mobile" title="rendez-vous">Ajouter un cadeau</a>
                            </nav>
                        {% endif %}
                        {#
                        <div class=" button-wp" >
                            <a class="pop_button" href="{{ path('board_blog',{'id':tab.id}) }}">messages
                                <i class="fa fa-comments-o" aria-hidden="true"></i>
                            </a>
                        </div>

                        #}
                    </div>
                </div>
            </div>
        {%  else %}
            <div class="pop-board">
                <div class="pos-incub">
                    <div class="_t-c _m-lr-5">
                        <div class="til_rlt">affichez-vous</div>
                    </div>
                </div>
            </div>
        {%  endfor %}
    </div>
</div>










