<div class="pg_other">
    <div class="pwa-board-list-replace">



        {% for potin in potins %}
            <a href="{{ path('show_potin',{"slug":potin.slug, "id":potin.id}) }}" class="pwa-potinary-card">
                <div class="pwa-inner-potinary">
                    <h3 class="pwa-goaff-potinary-fix min30 card-{{potin.agePotin }}">{{ potin.agePotin }}</h3>
                    <div class="pwa-w-titlpotinary">
                        <h3 title="evenement de {{ potin.titre }}">{{ potin.titre|lower|capitalize }}</h3>
                        {% if potin.subject is not same as (" ") %}
                            <h5>{{ potin.subject|raw|lower|capitalize }}</h5> {# {{post.subject|u.truncate(80, '...')|lower|capitalize}} #}
                        {% endif %}
                    </div>
                    <div class="pwa-potinary-b">{{ potin.createAt|date('j/m/Y')|lower|capitalize }}</div>
                    {#   <div class="author">categorie : {{ potinary.categorie.name }}</div> #}
                </div>
                <div class="pwa-illustr-potinary-card" >
                    <div class="pwa-e-pictfull-card">
                        {% if potin.media.imagejpg[0].namefile is defined %}
                            <div class="pwa-pict-event" style="background-image: url('{{ asset(potin.media.imagejpg[0].getWebPath) }}')"></div>
                        {% else %}
                            {% if potin.imageName %}
                                <div class="pwa-pict-event" style="background-image: url('{{ vich_uploader_asset(potin, 'ImageFile') }}');"></div>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            </a>
        {%  endfor %}

    </div>
</div>