<div class="illustr-potin">
    <div class="pt_pict_rec">
        {% if potin.media.imagejpg[0].namefile is defined %}
            <div class="bac_img"
                 style="background-image: url({{ asset(potin.media.imagejpg[0].getWebPath) }})"
                 role="presentation">
                <img src="{{ asset(potin.media.imagejpg[0].getWebPath) }}"
                     alt="{{ potin.titre }}"
                     loading="lazy">
            </div>
        {% elseif potin.imageName %}
            <div class="bac_img"
                 style="background-image: url('{{ vich_uploader_asset(potin, 'ImageFile') }}')"
                 role="presentation">
                <img src="{{ vich_uploader_asset(potin, 'ImageFile') }}"
                     alt="{{ potin.titre }}"
                     loading="lazy">
            </div>
        {% endif %}
    </div>
</div>

{% if contents|length > 0 %}
    {% for content in contents %}
        {% if content is not same as ("") %}
            <div class="pwa-inner-post">
                <div class="pwa-post-content">
                    <div class="pwa-article-content">
                        {{ content|raw }}
                    </div>
                </div>
            </div>
        {% endif %}
        {% if loop.index == 1 and potin.iframevideo is not empty %}
            <div class="videoWrapper">{{ potin.iframevideo|raw }}</div>
        {% endif %}
    {% endfor %}
{% elseif potin.iframevideo is not empty %}
    <div class="videoWrapper">{{ potin.iframevideo|raw }}</div>
{% endif %}



