{% trans_default_domain 'affi' %}
{% block body %}
<div class="log-machina">
    <h1 class="title_log">{{vartwig.title}}</h1>
    <div class="svg-bulle_open">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200 200">{# <circle cx="100" cy="100" r="80"/>#}</svg>
        <div class="content_login_affi">
            {{ form_start(form, {'attr': {'class': 'buble_form' }}) }}
                <div class="_newpass">
                    <h5 class="glass-field_identify">Changer votre mot de passe</h5>
                </div>
                <div class="bul-pass_affi bl_plein">
                    {{ form_label(form.plainPassword.first, 'form.new_password'|trans, {'label_attr': {'class': 'label_ingo'}}) }}
                    {{ form_widget(form.plainPassword.first, {'attr': {'class': 'field_ingo field_bt30'}}) }}
                    {{ form_label(form.plainPassword.second, 'form.new_password_confirmation'|trans, {'label_attr': {'class': 'label_ingo'}}) }}
                    {{ form_widget(form.plainPassword.second, {'attr': {'class': 'field_ingo field_bt30'}}) }}
                    {{form_rest(form)}}
                    <input type="submit" class="btn-send" value="validez"/>
                </div>
            {{ form_end(form) }}
        </div>
    </div>
</div>
{% endblock %}
