<div class="card-inmob">
    <h1 class="tit-cib-lg">Changez votre speudo sur le réseau AffiChange</h1>
    <p>Info : cela ne modifie pas votre identifiant de connexion.</p>
    {{ form_start(form) }}
    <div class="group-form-profil_mob">
        <div class="field-glass">
            {{ form_label(form.name, "nouveau nom :") }}
            {{ form_widget(form.name, {'attr': {'class': 'form-affi'}}) }}
            {{ form_rest(form) }}
            <input type="submit" value="envoyer" class="large-text-right btn-action-nivo1"/>
        </div>
    </div>
      {{form_end(form)}}
</div>

