<div class="tglaff w100" id="tgl_0">
    <div class="{{ agent=='desk/'?'_scrollflow _p w100 mrg0 mn-vh64':'_scrollflow _mb w100' }}">
        {% if pw.role=="superadmin" %}
        <div class="bt-share-fxd affitoggle" id="member-act"  data-affitgl="tgl_pop" role="button">
            <div class="i-bt-share"><i class="fa fa-share-alt"></i><span class="tit-cb">Invitez</span></div>
        </div>
        {% endif %}
       <div class="list_publi">
            <h2 class="_title til_mdl">membres</h2>
            <div class="fx-content">
                {#
                {% if pw.role=="superadmin" %}
                   {%  if pw.token %}
                       <div class="para-bull">
                           <div class="filer-modul"></div>
                           <div class="border-modul"></div>
                           <div class="titl-para-bull">{{ pw.disptachwebsite.name }} votre acccès admin est actif</div>
                       </div>
                   {% else %}
                   <div class="para-bull">
                       <div class="filer-modul"></div>
                       <div class="border-modul"></div>
                       <div class="titl-para-bull">initalisez votre acccès admin au site web {{ website.url }}</div>
                       <div class="content-module_glass">
                           <div class="state-item" >
                               <a class="stape_order_menu middlegrid stape_bull" href="{{ path('acces_admin',{'slug':  website.slug}) }}">
                                   <em>j'initialise mon accès</em>
                               </a>
                           </div>
                       </div>
                   </div>
                    {%  endif %}
                {% endif %}
                #}
                <div class="titl-list">administrateur(s)</div>
                    <div class="blok-fx-list">
                    {% for member in spwsites %}
                        {% set permis = member.disptachwebsite.permission %}
                        {% if permis|length > 2 %} {# member fondateur et/ou admin #}
                           <div class="unit-list">
                               <h5>Admin</h5>
                               <div class="list-mb member-validate"><i class="fa fa-user"></i><br>{{member.disptachwebsite.name}}</div>
                           </div>
                       {%  endif %}
                   {% endfor %}
                    </div>
            </div>
       </div>
    </div>
</div>

<div class="tglaff w100" id="tgl_1" style="display: none">
    <div class="{{ agent=='desk/'?'_scrollflow _p w100 mrg0 mn-vh64':'_scrollflow _mb w100' }}">
       <div class="list_publi">
            <h2 class="_title til_mdl">membres</h2>
            <div class="fx-content">
       <div class="prov-modul">
           <div class="filer-modul"></div>
           <div class="border-modul"></div>
           <div class="content-list-grid">
               <div class="blok-fx-list">
                {% for member in spwsites %}
                   {% set permis = member.disptachwebsite.permission %}
                   {% if permis|length == 2 %}  {# member qui est invité depuis le bo de l'admin #}
                       {% if permis[1]==0 %}
                            <div class="unit-list">
                           <h5>Invités</h5>
                           <div class="list-mb member-no-validate"><i class="fa fa-user"></i>
                               {{ member.disptachwebsite.customer.emailcontact }}
                               <p class="wait-member member-validate">en attente: invité le {{ member.createat|format_datetime('full', 'medium', locale='fr')}}
                               <p class="wait-member member-validate">mot de passe provisoire: <span style="font-weight: 600; font-size:1.2rem;">{{member.disptachwebsite.customer.profil.mdpfirst}}</span></p>
                           </div>
                            </div>
                       {% else %}
                   <div class="unit-list">
                           <div class="list-mb member-validate"><i class="fa fa-user"></i><br>invité et validé<br>{{member.disptachwebsite.name}}</div>
                   </div>
                       {% endif %}
                   {% endif %}
                {% endfor %}
               </div>
           </div>
       </div>
   </div>
        </div>
   </div>
</div>

<div class="tglaff w100" id="tgl_2" style="display: none">
    <div class="{{ agent=='desk/'?'_scrollflow _p w100 mrg0 mn-vh64':'_scrollflow _mb w100' }}">
       <div class="list_publi">
            <h2 class="_title til_mdl">contacts</h2>
            <div class="fx-content">
                <div class="prov-modul">
                <div class="filer-modul"></div>
                <div class="border-modul"></div>
                    <div class="_fL1-t">
                        <div class="content-list-grid">
                            <div class="blok-fx-list">
                       {% for member in spwsites %}
                           {% set permis = member.disptachwebsite.permission %}
                           {% if  permis|length == 1 %} {# member qui s'est incrit via la boite de conversation#}
                               {% if permis[0]==0 %}
                                <div class="unit-list">
                                   <h5>Contacts</h5>
                                   <div class="list-mb member-validate"><i class="fa fa-contact"></i>
                                       {{member.disptachwebsite.name}}
                                       <p class="wait-member member-validate">inscrit à la messagerie le {{ member.createat|format_datetime('full', 'medium', locale='fr')}} pas encore validé </p>
                                       <p class="wait-member member-validate">adresse mail: <span style="font-weight: 600; font-size:1.2rem;">{{member.disptachwebsite.customer.profil.emailfirst}}</span></p>
                                   </div>
                                </div>
                               {% else %}
                                <div class="unit-list">
                                   <div class="list-mb member-validate"><i class="fa fa-user"></i><br>contact messagerie validé<br>{{member.disptachwebsite.name}}</div>
                                </div>
                               {% endif %}
                           {%  endif %}
                       {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
       </div>
   </div>
</div>

<div class="tglaff w100" id="tgl_pop" style="display: none">
    <div class="{{ agent=='desk/'?'_scrollflow _p w100 mrg0 mn-vh64':'_scrollflow _mb w100' }}">
       <div class="list_publi">
           <h2 class="_title til_mdl">Nouveau membre</h2>
           <div class="fx-content">
                   {% if pw.role=="superadmin" and website.locality  is not null  %}
                   {{ include('desk/ptn_office//parameters/view/formemail.html.twig') }}
                   {% else %}
                   <div class="_bL1-t" id="member-act">l'ajout de membre n'est pas possible sans localisation du panneau de { website.namewebsite }}.</div>
                   <a href="{{ path('localize_change',{'slug':website.slug}) }}">Localiser ?</a>
                   {% endif %}
           </div>
       </div>
   </div>
</div>
