<div class="wp-post">

    <div class="inner-post ">
        <div class="w_titlpost">
            <h2 title="offre de {{ website.namewebsite }}">{{ offre.titre|lower|capitalize }}</h2>
            <div class="fast-price dkprice">
                {%  set state = offre.product.tabcarac|split(',') %}
                <div class="li-tit">état : <span class="li-dy">{{ state[0] }}</span></div>
                {% if offre.product.price == 0 %}
                    <div class="li-tit">Prix : <span class=new-price">{{ offre.product.oldprice|raw|number_format(2,',', '.')}} €</span></div>
                {% else %}
                    <div class="li-tit">Prix  : <span class="new-price">{{ offre.product.price|raw|number_format(2,',', '.')}} €</span></div>
                {% endif %}
            </div>
            {% if offre.descriptif is not same as ("") %}
                <h3>{{ offre.descriptif|raw|lower|capitalize }}</h3> {# {{post.subject|u.truncate(80, '...')|lower|capitalize}} #}
            {% endif %}
        </div>
        <time itemprop = "startDate" class="datepost">mis en ligne le : {{ offre.createAt|date("d-m-Y") }}</time>
        <div class="author">par : {{ offre.author.name }}</div>
        <div class="ol-commd">
            {% if  website.contactation is not null %}
                <div class=" button-wp" >
                    <button class="bulletoggle pop_button-big" data-affitgl="tgl_9"><i class="fa fa-comments-o" aria-hidden="true"></i><h3>Echangez avec le vendeur</h3> </button>
                </div>
            {% endif %}
            {#
            <div class="ti-sst_chap"><i class="fa fa-certificate" aria-hidden="true"></i><h3>vendeur certifié</h3></div>
            #}
            <div class="goaff_v6 moregoa">
                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                <h3>acheter</h3>
            </div>
        </div>
    </div>

    <div class="illustr-post" >
        <div class="w_pictfull">
            {% if offre.media.imagejpg|length > 0 and offre.media.imagejpg[0].namefile is defined %}
                <img src="{{ asset(offre.media.imagejpg[0].getWebPath) }}" alt="image affiche">
            {% endif %}
        </div>
    </div>
</div>