{% block body %}
<div id="pagehome" class="homepage-wrapper--desk" data-agent="{{ agent }}">
    <div class="fx-cent_pag">
    <div class="templ_cnfs">
        <div class="cadre_title">
            <h2>Start Quiz</h2>
        </div>
        <div class="cadre_content">
            <div class="arg-cont-bk">
                <div class="text_cadre">
                    <p>QR Code: {{ quiz.qrCode }}</p>
                    <img src="https://api.qrserver.com/v1/create-qr-code/?size=150x150&data={{ path('quiz_register', { qrCode: quiz.qrCode }) }}" alt="QR Code">
                </div>
            </div>
        </div>
    </div>
</div>
    <div class="bk-separate"></div>
{{ include('footer/'~agent~'/affichange_footer_rel.html.twig') }}
</div>
{%  endblock body %}
{% use "js/js_public_cnfs.html.twig" %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}