<!DOCTYPE html>
<html lang="fr">
<head>
    <title>{% block title %}{{vartwig.title}}{% endblock %}</title>
    {{include('aff_potins/head/head_nice.html.twig')}}
</head>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-P171X7Q4YQ"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-P171X7Q4YQ');
</script>
<script>
    if ('serviceWorker' in navigator) {
        window.addEventListener('load', function() {
            navigator.serviceWorker.register('./_service-worker.js').then(function(registration) {
                // Registration was successful
                console.log('ServiceWorker registration successful with scope: ', registration.scope);
            }, function(err) {
                // registration failed :(
                console.log('ServiceWorker registration failed: ', err);
            });
        });
    }
</script>
<body>
{{ encore_entry_script_tags('app') }}
{% set top=app.session.get('agent') is same as('desk/') ? true : false %}
<main id="page" class="content-constrain2">
    <header class="HO shadow-pink header-app user_menu2">
         <label class="sandw-left" data-menu="menu">
            <span class="_header-main--trigger_icon">
                <i class="_header-main--cross_hatch4 _hatch4"></i>
            </span>
        </label>
        {{ include('aff_potins/menu/menuPotins.html.twig') }}
    </header>
    {{ include ('aff_potins/menu/menu_prod.html.twig') }}
     <div role="main">
        {% block body %}{% endblock %}
    </div>
    {% block javascripts %}
        {{ encore_entry_script_tags('site') }}
        {{ encore_entry_script_tags('nicepage') }}
    {% endblock %}
</main>
    </body>
</html>