<!DOCTYPE html>
<html lang="fr">
<head>
    {% block head %}
        <title>{% block title %}{{vartwig.title}}{% endblock %}</title>
        {{include('aff_potins/head/head.html.twig')}}
        <link href="https://vjs.zencdn.net/7.1/video-js.min.css" rel="stylesheet">
        <script src="https://vjs.zencdn.net/7.1/video.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    {% endblock head %}
</head>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-P171X7Q4YQ"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-P171X7Q4YQ');
</script>
<script>
    if ('serviceWorker' in navigator) {
        window.addEventListener('load', function() {
            navigator.serviceWorker.register('./_service-worker.js').then(function(registration) {
                // Registration was successful
                console.log('ServiceWorker registration successful with scope: ', registration.scope);
            }, function(err) {
                // registration failed :(
                console.log('ServiceWorker registration failed: ', err);
            });
        });
    }
</script>
{% if vartwig.scope is defined %}
    <section id="item" data-microdata="{{ vartwig.scope|json_encode() }}"></section>
{%  endif %}
{%  set agent = app.session.get('agent') %}
<body class="{{ agent=='desk/'? 'aff-plc' : 'wbesitemob' }}">
<main class="_pg_wb-pb_affi content-constrain2" id="page">
    {% block menu %}
    {% endblock menu %}
    {% block core %}
        {% block body %}
        {% endblock body %}
        {% block javascripts %}
        {% endblock %}
    {% endblock core %}
</main>
</body>
</html>




{{ encore_entry_script_tags('app') }}
 {{ encore_entry_script_tags('site') }}
