{% block body %}
<div class="container-bo_v5">
    {{ include('pwa/ptn_office/menu/websitemenu.html.twig') }}
    <section class="_wb-ospace">
        <div class="regester-bk">
            <x-eventpotin board="{{ board.id }}" potin="{{ potin.id }}" event="{{event|serialize(format = 'json') }}"></x-eventpotin>
        </div>
    </section>
</div>
{% endblock %}
{% use "js/js-eventpotin.html.twig" %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}


