<div class="wp-post">
    <div class="inner-post w_titlpost">
        <div class="_inner-fix bgrop_v5 ">
            <h2>{{ menu.name|capitalize }}</h2>
            <div class="iner-col_v6">
                <div class="_iner-inf_mb_v6">
                    <h3>description</h3>
                </div>
            </div>
            <div class="_inner ">
                <time itemprop = "startDate" pubdate><h3 class="provd_pitch_v5">du {{ menu.parution.starttime|date("d-m-Y") }} au {{ menu.parution.endtime|date("d-m-Y") }}</h3></time>
            </div>
            <div class="ol-commd">
                {% if  website.contactation is not null %}
                    <div class=" button-wp" >
                        <button class="bulletoggle pop_button-big" data-affitgl="tgl_9"><i class="fa fa-comments-o" aria-hidden="true"></i><h3>Echangez avec le vendeur</h3> </button>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="illustr-post" >
        <div class="w_pictfull">
            {% if menu.pictformule.namefile is defined %}
                <img  src="{{ asset('upload/module/'~menu.pictformule.namefile ) }}" alt="">
            {% else%}
                <img  src="{{ asset('spaceweb/template/ccec7f38ec542f83ad1e32407de3288b81a870f8.jpg' ) }}" alt="">
            {% endif %}
        </div>
    </div>
</div>


