{% block body %}
<div id="pagehome" class="homepage-wrapper--desk" data-agent="{{ agent }}">
    {#  <div class="gif-container">
        <img src="{{ asset('/img/gif_2025.gif') }}" alt="Bonnes fêtes">
    </div>
    #}
    <div class="templ_bleu">
         <div class="arg-content_cor4">
             <div class="arg-cont-bk">
                 <h1 class="h2-tit2 rub1">Rencontres numeriques</h1>
                 <div class="cont-arg">
                    Un programme pour les jeunes et les adultes.<br>Pour en savoir plus sur le monde numérique.
                 </div>
                 <nav class="relational">
                     <a href="{{ path('rdv_samedi') }}" class="nav1 btn  hide-on-mobile" title="rendez-vous">les rendez-vous du samedi...</a>
                 </nav>
            </div>
             <div class="bk-pict_cor4">
                 <section class="eyes">
                     <div class="blk-img_vrt4" style="background-image: url({{ asset('imgdoc/potins/social.png') }}">
                         <div class="_in-eyes">
                             {#<h1 class="tit-sit">Végétal</h1>#}
                         </div>
                     </div>
                 </section>
             </div>
         </div>
     </div>

     <div class="bk-separate"></div>


    <div class="swiper-container" id="ia-news-carousel">
        <div class="swiper-wrapper">
            <!-- Les slides seront ajoutés dynamiquement par JavaScript -->
        </div>
        <!-- Pagination -->
        <div class="swiper-pagination"></div>
        <!-- Navigation -->
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
    </div>

    <div class="all_blocks">
        <div class="vertical_block">
            <a class="content_vertical_block" href="{{ path('ressources') }}">
                <h2>Ressources</h2>
            </a>
        </div>
        <div class="horizontal_block">
            <div class="two_block">
                <div class="block_blue" href="{{ path('decouverte') }}">
                    <div class="block_inblue_left">

                        <div class="ctn_in_blue">
                            <h2>Découvrir</h2>
                            <h3>Découvrez ou redécouvrez les technologies d'aujourd'hui.</h3>
                            <div class="ctn_strong">
                                Réalité virtuelle, impression 3D, robotique
                            </div>

                        </div>
                    </div>
                    <div class="block_inblue_right">
                        <div class="pict_in_block" style="background-image: url({{ asset('imgdoc/potins/expe_1.JPG') }}"></div>
                    </div>
                </div>
                <div class="block_green">
                    <div class="block_ingreen_left">
                        <div class="ctn_in_blue">
                            <h2>Apprendre</h2>
                            <div class="ctn_strong">
                                Montage vidéo, musique assistée par ordinateur...
                            </div>
                            <h3>Faites le plein de connaissances pour vos loisirs</h3>

                        </div>
                    </div>
                    <div class="block_ingreen_right">
                        <div class="pict_in_block" style="background-image: url({{ asset('imgdoc/potins/decouvsmall.JPG') }}"></div>
                    </div>
                </div>
            </div>
            <div class="one_block">
                <div class="block_pink">
                    <div class="block_inpink_letf">
                        <div class="ctn_in_blue">
                            <h2>Parentalité numérique</h2>
                            <h3>Parlons-en ensemble et avec vos enfants</h3>
                            <div class="ctn_strong">
                                Le numérique ça se discute ! Pour vous donner les moyens d'accompagner vos enfants dans leur vie numérique, dialoguer, échanger autour des pratiques, du temps d'écran, des risques et des avantages, comment vivre le numérique en famille...
                            </div>
                        </div>
                    </div>
                    <div class="block_inpink_right">
                        <div class="pict_in_block" style="background-image: url({{ asset('imgdoc/potins/mao_2.JPG') }}"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="bk-separate"></div>

    <div class="middle__block-center">
        <div class="ntro4_cor">
            <div class="inter-title3">
                <h2>Quand et où ?</h2>
            </div>
        </div>
    </div>

    <div class="bk-separate"></div>



    <div class="block_locate_grey">
        {%  for media in medias %}
        <a  class="in_locate_grey" href="{{ path('media_page',{'slug':media.slug}) }}">
            <div class="tit-media">{{media.nameboard}}</div>
            <div class="iner_where">
                {% if  media.template.logo is not null %}
                <div class="pict_in_where" style="background-image: url( {{ asset(media.template.logo.getWebPath) }} )"></div>
                {% endif %}
            </div>
            {#
            <nav class="relational-center">
                <a href="{{ path('media_page',{'slug':media.slug}) }}" class="nav1 btn  hide-on-mobile" title="+ infos"><i class="fa fa-info-circle"></i></a>
            </nav>
            #}
        </a>
        {%  endfor %}
    </div>

    <div class="bk-separate"></div>

</div>
    {#
    <!-- Icône de chat flottante -->
    <div id="chatbot-icon">
        <img src="{{ asset('/img/chat-icon.webp') }}" alt="Chatbot Actualités">
    </div>

    <!-- Fenêtre du chatbot -->
    <div id="chatbot-window" class="chatbot-window">
        <div id="chatbot-icon-inside"></div>
        <div class="title_chatbot">
            <strong>Chat Actualités IA</strong>
        </div>
        <button id="open-fullscreen-chatbot">
            🔍 Vue complète
        </button>
        <div id="chatbot-messages"></div>
        <div id="chatbot-suggestions">
            <button class="chatbot-suggestion">Dernières actualités IA</button>
            <button class="chatbot-suggestion">Tendances cette semaine</button>
            <button class="chatbot-suggestion">Un article sur OpenAI</button>
            <button id="refresh-suggestions" style="background: #007BFF; color: white; border: none; padding: 5px; border-radius: 5px; cursor: pointer;">🔄 Changer les suggestions</button>
        </div>

        <input type="text" id="chatbot-input" placeholder="Posez votre question..." >
    </div>
    #}
{% endblock %}

{% block footer %}
    {{ include('footer/'~agent~'/affichange_footer_rel.html.twig') }}
    {# {{ include ('desk/ptn_public/footer/potins_footer.html.twig') }}  #}
{% endblock footer %}

{% use "js/js_potins.html.twig" %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}

