<div class="timeline-msg_dk msg-website">
    <div class="form-groupfields glass-label">
        <div class="glass-title_form">
            <h2>Démarrez une conversation avec {{ website.namewebsite }}</h2>
        </div>
        {{ form_start(form) }}
        {{ form_errors(form) }}
        <div class="bg-glass-W">
            <div class="intro_form">
                <div class="formmsg">
                  {#{{ form_label(form.subject, "objet:") }}
                    {{ form_widget(form.subject) }}#}
                    {{ form_label(form.content, "votre contenu :") }}
                    {{ form_widget(form.content) }}
                    <div class="validate"></div>
                    <div class="iner-bt">
                        <div class=" form-send btn-glss-submit" id="postform"><i class="fa fa-telegram"></i></div>
                    </div>
                </div>
            </div>
        </div>
        {{ form_rest(form) }}
        <div class="loading"></div>
        <div class="error-message"></div>
        {{ form_end(form) }}
    </div>
</div>

<div class="wait">
    <i class="fa fa-spinner fa-spin"></i>
</div>