{% block body %}
    <div class="pwa-pg-ptn">
        <div class="pwa-col">
            <button class="btn btn-secondary" onclick="history.back();"><i class="fa fa-arrow-circle-o-left">Retour</i></button>
        </div>
    </div>
    {#
    <div class="search_ressource">
        <div class="ressource_imput">
            <x-ressources class="w100" cat="all"></x-ressources>
        </div>
    </div>
    #}

    <div class="pwa-wp-ressourc">

        <div class="pwa-potin-ressourc">
            <article class="pwa-w-ressourc">
                {{ include('pwa/ptn_elements/ele_ressources/modale_ressource.html.twig') }}
            </article>
        </div>

        <div class="pwa-other-resourc-blk pwa-r-ctnt">
            <div class="pwa-title-block">
                <h2 class="pwa-title">voir aussi</h2>
            </div>

            <div class="pwa-other-resourc">
                {%  for ressource in ressources %}
                    {{ include('pwa/ptn_elements/ele_ressources/widget_ressources.html.twig') }}
                {%  endfor %}
            </div>

        </div>
        {#
        todo liste d'autres ressources dans la meme categorie
              {{ include('desk/ptn_elements/ele_potinaries/tabOrderPotins.html.twig') }}
        #}
    </div>
{%  endblock body %}

    {% block footer %}
        {{ include ('pwa/footer/potins_footer.html.twig') }}
    {% endblock footer %}

{% use "js/js_public.html.twig" %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}