{% block body %}
<div class="_wb">
    <div class="container-bo_v5">
        {{ include('aff_customer/menu/'~agent~'/websitemenu.html.twig') }}
        <section class="_wb-ospace">
            <div class="head-wb-space">
                {{ include('elements/wb-zoneinfo.html.twig') }}
            </div>
            <div class="ii_cub">
                {{ include('aff_websiteadmin/cubes/initmessage.html.twig') }}
                <div class="contener-cube">
                    {{ include('aff_websiteadmin/cubes/process-contact.html.twig') }}
                </div>
            </div>
        </section>
    </div>
</div>
{% endblock %}
{% use "js/js_edit_website.html.twig" %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}