<!-- Logo -->
<a href="{{ path('potins_index') }}">
    <div id="logotop" class="logo-large zz_top-top logo-container">
        {{ include('svg/potins/vector1.html.twig') }}
    </div>
    <div id="logosmall" class="logo-small svg_logo_small logo-small">
        {{ include('svg/potins/logopotins_svg_small.html.twig') }}
    </div>
</a>
{#
<div class="logo-container"></div>
#}
<header id="main-header" class="long header-app user_menu2" >
        <div class="block-space_potins"> </div>
    <!-- Menu principal -->
        <nav class="main-nav bar_potins">
        <ul class="af-menu-content">
            <li class="level-1">
                <a href="link-bar {{ path('potins_index') }}" class="{{ vartwig.linkbar[0] }}">Accueil</a>
            </li>
            <li class="level-abs">
                <div class="link-bar {{ vartwig.linkbar[1] }}">Les potins <i class="fa fa-chevron-down"></i></div>
                <ul class="_hov">
                    <li class="level-1more"><a href="{{ path('events_all') }}" class="souslink-bar">Les prochains potins</a></li>
                    <li class="level-1more"><a href="{{ path('board_all') }}" class="souslink-bar">Les derniers potins</a></li>
                </ul>
            </li>
            <li class="level-abs">
                <div class="link-bar {{ vartwig.linkbar[3] }}">Ressources <i class="fa fa-chevron-down"></i></div>
                <ul class="_hov">
                    <li class="level-1more"><a href="{{ path('ressources') }}" class="souslink-bar">Catalogue</a></li>
                    <li class="level-1more"><a href="{{ path('ressources_info') }}" class="souslink-bar">Infos ressources</a></li>
                </ul>
            </li>
            <li class="level-1"><a href="{{ path('cnfs') }}" class="link-bar {{ vartwig.linkbar[4] }}">CNFS</a></li>
            <li class="level-1"><a href="{{ path('noticezer') }}" class="link-bar {{ vartwig.linkbar[5] }}">Info locale</a></li>
        </ul>
    </nav>

    <!-- Menu utilisateur -->
    <div class="user-menu">
        <button id="nav_user" class="user-button">
            {% if app.session.get('avatar') %}
                <div class="avatar" style="background-image: url('{{ asset(vich_uploader_asset(customer.profil.avatar, 'imageFile')) }}')"></div>
            {% else %}
                <svg xmlns="http://www.w3.org/2000/svg" class="icon" viewBox="0 0 24 24">
                    <path d="M12 12c2.486 0 4.5-2.014 4.5-4.5S14.486 3 12 3a4.499 4.499 0 00-4.5 4.5C7.5 9.986 9.514 12 12 12zm0 2.25c-3.004 0-9 1.508-9 4.5v1.75a.5.5 0 00.5.5h17a.5.5 0 00.5-.5v-1.75c0-2.992-5.996-4.5-9-4.5z"></path>
                </svg>
            {% endif %}
        </button>

        <div id="popuser" class="user-dropdown">
            {% if is_granted('ROLE_SUPER_ADMIN') %}
                <a href="{{ path('profil_customer') }}">Profil</a>
                <a href="{{ path('office_member') }}">Mon Panneau</a>
                <a href="{{ path('admin') }}">Backoffice</a>
                <hr>
                <a href="{{ path('app_logout') }}">Déconnexion</a>

            {% elseif is_granted('ROLE_MEDIA') %}
                <a href="{{ path('parameters') }}">Paramètres</a>
                <a href="{{ path('office_media') }}">Planning Potins</a>
                <hr>
                <a href="{{ path('app_logout') }}">Déconnexion</a>

            {% elseif is_granted('ROLE_MEMBER') %}
                <a href="{{ path('profil_customer') }}">Profil</a>
                <a href="{{ path('office_member') }}">Mon Panneau</a>
                <hr>
                <a href="{{ path('app_logout') }}">Déconnexion</a>

            {% elseif is_granted('ROLE_CUSTOMER') %}
                <a href="{{ path('profil_customer') }}">Profil</a>
                <a href="{{ path('customer_agenda') }}">Mon agenda</a>
                <a href="{{ path('customer_space') }}">Mes potins</a>
                <hr>
                <a href="{{ path('app_logout') }}">Déconnexion</a>

            {% else %}
                <div class="user-info">À vos potins !</div>
                <a href="{{ path('new_identify') }}">Inscrivez-vous</a>
                <hr>
                <a href="{{ path('app_login') }}">Connexion</a>
            {% endif %}
        </div>
    </div>
</header>
