<header id="main-header">
    <div class="header-container">
        <div class="logo-small-smaller smaller">
            {{ include('svg/potins/logopotins_svg_small.html.twig') }}
        </div>
        <!-- MENU NAVIGATION -->
        <nav class="main-nav">
            <ul>
                {#
                <li class="level-1">
                    <a href="{{ path('potins_index') }}" class="link-bar {{ vartwig.linkbar[0]}}">Accueil</a>
                </li>
                <li class="dropdown">
                    <div class="link-bar {{ vartwig.linkbar[1]}}">Les Potins ▼</div>
                    <ul class="dropdown-menu">
                        <li class="level-1more"><a class="souslink-bar" href="{{ path('events_all') }}">Les prochains potins</a></li>
                        <li class="level-1more"><a class="souslink-bar" href="{{ path('board_all') }}">Les derniers potins</a></li>
                    </ul>
                </li>
                #}
                <li class="level-1"><a class="link-bar {{ vartwig.linkbar[1]}}" href="{{ path('board_all') }}">Les Potins</a></li>
                <li class="level-1"><a class="link-bar {{ vartwig.linkbar[2]}}" href="{{ path('agenda_index') }}">Agenda</a></li>
                <li class="dropdown">
                    <div class="link-bar {{ vartwig.linkbar[3] }}">Ressources <i class="fa fa-chevron-down"></i></div>
                    <ul class="dropdown-menu">
                        <li class="level-1more"><a href="{{ path('ressources') }}" class="souslink-bar">Catalogue</a></li>
                        <li class="level-1more"><a href="{{ path('ressources_info') }}" class="souslink-bar">Infos ressources</a></li>
                    </ul>
                </li>
                <li class="level-1"><a class="link-bar {{ vartwig.linkbar[4]}}" href="{{ path('cnfs') }}">CNFS</a></li>
                <li class="level-1"><a class="link-bar {{ vartwig.linkbar[5]}}" href="{{ path('games_home') }}">Games</a></li>
                {# <li class="level-1"><a class="link-bar {{ vartwig.linkbar[5]}}" href="{{ path('noticezer') }}">Info locale</a></li>  #}
            </ul>
        </nav>

        <!-- MENU UTILISATEUR -->
        <div class="user-menu">
            <button id="nav_user" class="user-button">
                {% if user  is defined %}

                    {# 1) si la session stocke déjà un chemin d'avatar, on l'utilise tel quel #}
                    {% set avatarPath = app.session.get('avatar') %}
                    {% if avatarPath %}
                        <div class="avataff" style="background-image: url('{{ asset(avatarPath) }}')"></div>

                        {# 2) sinon, on tente Vich mais uniquement si tout l'arbre est non-null #}
                    {% elseif customer is defined and customer and customer.profil is defined and customer.profil and customer.profil.avatar is defined and customer.profil.avatar %}
                        <div class="avataff" style="background-image: url('{{ vich_uploader_asset(customer.profil.avatar, 'imageFile') }}')"></div>
                    {%  endif %}

                    {# 3) sinon, fallback SVG #}
                {% else %}
                    <svg xmlns="http://www.w3.org/2000/svg" focusable="false" role="img" fill="currentColor"
                         viewBox="0 0 24 24" aria-hidden="true" class="gnav-header-1ob2qzx e18c60hj0">
                        <path d="M12 12c2.486 0 4.5-2.014 4.5-4.5S14.486 3 12 3a4.499 4.499 0 00-4.5 4.5C7.5 9.986 9.514 12 12 12zm0 2.25c-3.004 0-9 1.508-9 4.5v1.75a.5.5 0 00.5.5h17a.5.5 0 00.5-.5v-1.75c0-2.992-5.996-4.5-9-4.5z"></path>
                    </svg>
                {% endif %}
            </button>
            {% if is_granted('ROLE_SUPER_ADMIN') %}
                <div id="user-dropdown" class="user-dropdown">
                    <a href="{{ path('profil_customer') }}">Profil</a>
                    <a href="{{ path('office_member') }}">Panneau</a>
                    <a href="{{ path('admin_index') }}">Backoffice</a>
                    <a href="{{ path('app_logout') }}">Déconnexion</a>
                </div>
            {%  elseif is_granted('ROLE_MEDIA') %}
                <div id="user-dropdown" class="user-dropdown">
                    <a href="{{ path('parameters') }}">Informations</a>
                    <a href="{{ path('office_media') }}">Planning Potins</a>
                    <a href="{{ path('app_logout') }}">Déconnexion</a>
                </div>
            {% else %}
                <a href="{{ path('app_login') }}" class="login-button">Se connecter</a>
            {% endif %}
        </div>


        <!-- MENU BURGER MOBILE -->
        <div class="mobile-menu" data-controller="menu">
            <button
                type="button"
                class="burger-menu"
                aria-label="Ouvrir le menu"
                aria-controls="mobile-menu-panel"
                aria-expanded="false"
                aria-haspopup="true"
                data-menu-target="trigger"
                data-action="click->menu#open"
            >
                <span></span><span></span><span></span>
            </button>
            <div
                class="overlay hidden"
                data-menu-target="overlay"
                data-action="click->menu#close"
                hidden
            ></div>
            <!-- MENU MOBILE -->
            <nav
                id="mobile-menu-panel"
                class="mobile-nav mobile-panel hidden"
                data-menu-target="panel"
                aria-hidden="true"
                tabindex="-1"
                hidden
            >
                <button
                    type="button"
                    class="close-icon"
                    aria-label="Fermer le menu"
                    data-menu-target="close"
                    data-action="click->menu#close"
                >&times;</button>
                <ul>
                    <li><a href="{{ path('potins_index') }}">Accueil</a></li>
                   {#  <li><a href="{{ path('events_all') }}">Les prochains potins</a></li>
                    <li><a href="{{ path('board_all') }}">Les derniers potins</a></li> #}
                    <li><a href="{{ path('board_all') }}">Les Potins</a></li>
                    <li><a href="{{ path('agenda_index') }}">Agenda</a></li>
                    <li><a href="{{ path('ressources') }}">Ressources</a></li>
                    <li class="submenu"><a href="{{ path('ressources_info') }}">Infos ressources</a></li>
                    <li><a href="{{ path('cnfs') }}">CNFS</a></li>
                    <li><a href="{{ path('games_home') }}">Games</a></li>
                    {# <li><a href="{{ path('noticezer') }}">Info locale</a></li>  #}
                </ul>
            </nav>
        </div>
    </div>
</header>
<div class="logo-header">
    <div id="logotop" class="zz_top-top">
        {{ include('svg/potins/vector1.html.twig') }}
    </div>
    <a href="{{ path('potins_index') }}" id="logosmall" class="logo-large">
        {{ include('svg/potins/logopotins_svg_small.html.twig') }}
    </a>
</div>
