<div class="bk_content">
    <div class="tab_lit_bo">
        {% for tab in posts %}
            {% set ill = 'img/AffiChange.png' %}
            {%  if tab.media.imagejpg[0].namefile is defined %}
                {% set ill = tab.media.imagejpg[0].getwebPath %}
            {% else %}
                {% if tab.imageName %}
                    {% set ill = vich_uploader_asset(tab, 'ImageFile') %}
                {% endif %}
            {% endif %}

            <div class="tab_l1_post">
                <!-- En-tête du post -->
                <div class="tab_ptn_row">
                    <div class="tab_ptn_col1">
                        <img src="{{ asset(ill) }}" alt="Image">
                    </div>
                    <div class="tab_ptn_col2">
                        <h3>{{ tab.titre }}</h3>
                        <p class="post-date">Publié le : {{ tab.createAt|date('j-m-Y') }}</p>
                    </div>
                </div>

                <!-- Section Vidéo -->
                <div class="tab_ptn_section">
                    <h4>Vidéos</h4>
                    <a href="{{ path('add-iframe-potin', {'id':tab.id}) }}" class="tab_ptn_section_btn btn-primary">Ajouter une vidéo</a>
                    <ul class="tab_ptn_list">
                        {% for video in tab.iframevideo %}
                            <li class="tab_l1_list_brd">
                                <div>{{ video.fileblob }}</div>
                                <div class="tab_ptn_cmd">
                                    <a href="{{ path('add-iframe-potin', {'id':tab.id}) }}" class="btn btn-warning">Modifier</a>
                                    <a href="{{ path('add-iframe-potin', {'id':tab.id}) }}" class="btn btn-danger">Supprimer</a>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>

                <!-- Section Link -->
                <div class="tab_ptn_section">
                    <h4>Lien</h4>
                    <a href="{{ path('add-link-potin', {'id':tab.id}) }}" class="tab_ptn_section_btn btn-primary">Ajouter un lien</a>
                    <ul class="tab_ptn_list">
                        <li class="tab_l1_list_brd">
                            <div>{{ tab.link }}</div>
                            <div class="tab_ptn_cmd">
                                <a href="{{ path('edit_link_potin', {'id':tab.id}) }}" class="btn btn-warning">Modifier</a>
                                {#  <a href="{{ path('delete-link-potin', {'id':tab.id}) }}" class="btn btn-danger">Supprimer</a> #}
                            </div>
                        </li>
                    </ul>
                </div>

                <!-- Section Articles -->
                <div class="tab_ptn_section">
                    <h4>Articles</h4>
                    <a href="{{ path('add-article-potin', {'id':tab.id}) }}" class="tab_ptn_section_btn btn-primary">Ajouter un article</a>
                    <ul class="tab_ptn_list">
                        {% for article in tab.htmlcontent %}
                            <li class="tab_l1_list_brd">
                                <div>{{ article.fileblob }}</div>
                                <div class="tab_ptn_cmd">
                                    <a href="{{ path('edit_article_potin', {'id':article.id}) }}" class="btn btn-warning">Modifier</a>
                                    <a href="{{ path('delete-article-potin', {'id':article.id}) }}" class="btn btn-danger">Supprimer</a>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>

                <!-- Section Outils -->
                <div class="pot_bo w-cb3">
                    {% if (member.id is same as (tab.author.id)) or (member.id == 1) %}
                        <div class="tools-msg">
                            <a class="e-tool" title="Édition de l'affiche" href="{{ path('potins_manage', {'id':tab.id}) }}">
                                <i class="fa fa-edit" data-descr="Éditer"></i>
                            </a>
                            <a class="e-tool" title="État de la publication" href="{{ path('publied_post', {'id':tab.id, 'board':board.id}) }}">
                                {% if tab.publied %}
                                    <div class="_icO-rd green"><i class="fa fa-flag-checkered"></i></div>
                                {% else %}
                                    <div class="_icO-rd red"><i class="fa fa-flag"></i></div>
                                {% endif %}
                            </a>
                            <a class="e-tool" title="Messagerie" href="{{ path('form-delete_post', {'id':tab.id}) }}">
                                <i class="fa fa-trash"></i>
                            </a>
                            <a class="e-tool" title="Agenda des potins" href="{{ path('event_potins', {'id':tab.id}) }}">
                                <i class="fa fa-calendar"></i>
                            </a>
                            <a class="e-tool" title="Ressources" href="{{ path('group_ressources', {'id':tab.id}) }}">
                                <i class="fa fa-database"></i>
                            </a>
                            <a class="e-tool" title="Review" href="{{ path('manage_group_review', {'id':tab.id}) }}">
                                <i class="fa fa-podcast"></i>
                            </a>
                        </div>
                    {% endif %}
                </div>
            </div>
        {% else %}
            <div class="pop-board">
                <p>Aucun contenu disponible pour le moment.</p>
            </div>
        {% endfor %}
    </div>
</div>
