{% block body %}

<div id="pagehome" class="homepage-wrapper--desk" data-agent="{{ agent }}">

    <div class="wp-ressourc">

                <div class="potin_ressourc">
                    {{ include('desk/ptn_elements/ele_ressources/modale_ressource.html.twig') }}
                </div>

        <div class="fix-ressources">
                <div class="other_resourc_blk r_ctnt">
                    <div class="title-block">
                        <h5 class="title">et aussi</h5>
                    </div>
                    <div class="other_resourc">
                    {%  for ressource in ressources %}
                       {{ include('desk/ptn_elements/ele_ressources/widget_ressources.html.twig') }}
                    {%  endfor %}
                    </div>

                </div>
        </div>
                {#
                todo liste d'autres ressources dans la meme categorie
                      {{ include('desk/ptn_elements/ele_potinaries/tabOrderPotins.html.twig') }}
                #}
    </div>

</div>
{%  endblock body %}

{% block footer %}
    {{ include('footer/'~agent~'/affichange_footer_rel.html.twig') }}
    {# {{ include ('desk/ptn_public/footer/potins_footer.html.twig') }}  #}
{% endblock footer %}

{% use "js/js_public.html.twig" %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}